<section class="choose">
    <div class="container">
        <div class="choose__content">
            <h2 class="h2_title choose__title">почему выбирают нас</h2>
            <div class="choose__items">
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_1.jpg" alt="">
                        <div class="choose__item_content">
                            <div class="choose__item_title">удобное располо&shy;жение</div>
                        </div>
                    </div>
                </div>
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_2.jpg" alt="">
                        <div class="choose__item_content">
                            <div class="choose__item_title">СООБЩЕСТВО фридайверОВ</div>
                        </div>
                    </div>
                </div>
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_3.jpg" alt="">
                        <div class="choose__item_content">
                            <div class="choose__item_title">Позитивная атмосфера</div>
                        </div>
                    </div>
                </div>
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_4.jpg" alt="">
                        <div class="choose__item_content">
                            <div class="choose__item_title">Классные инструкторы</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>