.choose {
  padding: 80px 0 150px;

  background: url('../img/choose/bg.png') center / 100% 100% no-repeat;
  overflow: hidden;

  @media ($tablet) {
    background: url('../img/choose/bg.png') 30% bottom / cover no-repeat;
  }
  @media ($tablet3) {
    padding: 40px 0;
  }
  .container  {
    max-width: 1780px;
  }
}
.choose__title {
  color: #ffffff;
}

.choose__items {
  margin-top: 40px;
  display: flex;
  margin-left: -40px;

  @media ($desktopBig) {
    margin-left: -20px;
  }
  @media ($tablet) {
    margin-left: -15px;
    flex-wrap: wrap;
    margin-bottom: -15px;
  }
  @media ($tablet3) {
    margin-top: 20px;
  }
}
.choose__item {
  margin-left: 40px;
  width: calc(25% - 40px);

  @media ($desktopBig) {
    margin-left: 20px;
    width: calc(25% - 20px);
  }
  @media ($tablet) {
    margin-left: 15px;
    width: calc(50% - 15px);
    margin-bottom: 15px;
  }
}
.choose__item_img {
  position: relative;
  padding-top: 130%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
.choose__item_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;

  @media ($desktopBig) {
    padding: 20px;
  }
  @media ($tablet3) {
    padding: 20px 10px 15px;
  }
}
.choose__item_title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;

  @media ($desktopBig) {
    font-size: 24px;
    line-height: 32px;
  }
  @media ($tablet3) {
    font-size: 18px;
    line-height: 21px;
  }
}