<section class="choose">
    <div class="container">
        <div class="choose__content">
            <h2 class="h2_title choose__title">porque elegirnos</h2>
            <div class="choose__items">
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_1.jpg" alt="">
                        <div class="choose__item_content">
                            <div class="choose__item_title">ubicación conveniente</div>
                        </div>
                    </div>
                </div>
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_2.jpg" alt="">
                        <div class="choose__item_content">
                            <div class="choose__item_title">gran COMUNIDAD DE APNEA</div>
                        </div>
                    </div>
                </div>
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_3.jpg" alt="">
                        <div class="choose__item_content">
                            <div class="choose__item_title">Ambiente positivo</div>
                        </div>
                    </div>
                </div>
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_4.jpg" alt="">
                        <div class="choose__item_content">
                            <div class="choose__item_title">Instructores geniales</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>