<section class="courses" id="courses">
    <div class="container">
        <div class="courses__content">
            <h2 class="h2_title courses__title">kursy freedivingu</h2>
            <div class="courses__subtitle h2_subtitle">Ucz się i rozwijaj umiejętności potrzebne do bezpiecznego i przyjemnego freedivingu</div>
            <div class="courses__cards">
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <picture>
                                <source media="(max-width: 1199px)" srcset="img/courses/img_1_mob.jpg">
                                <source media="(min-width: 1199px)" srcset="img/courses/img_1.jpg">
                                <img src="img/courses/img_1.jpg" alt="">
                            </picture>
                            <div class="horizontal_card__img_text">AIDA 2 Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__yellow_text">Doświadczenie nie jest wymagane</div>
                            <div class="horizontal_card__text">
                                <p>Ten kurs dla początkujących koncentruje się na prawidłowym wstrzymywaniu oddechu, technikach relaksacyjnych, zasadach bezpieczeństwa i technikach oddychania. Podczas 5 sesji wodnych uczestnicy uczą się nurkować do maksymalnej głębokości 12 metrów. Kurs kończy się egzaminami teoretycznymi i praktycznymi, potwierdzającymi zrozumienie teorii i umiejętność zastosowania przez nurka nabytych umiejętności w sposób bezpieczny i kontrolowany.</p>
                                <br>
                                <p>Kurs AIDA 2 Freediver stanowi solidną podstawę do dalszego szkolenia freedivingu i umożliwia zapisanie się na kurs AIDA 3.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Trwa</div>
                                        <div class="horizontal_card__item_text">3 dni</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Wymagania</div>
                                        <div class="horizontal_card__item_text">Umiejętność pływania na wodach otwartych</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Min wiek</div>
                                        <div class="horizontal_card__item_text">18 lat (16 lat za zgodą rodzica/opiekuna)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">Pod koniec kursu będziesz w stanie osiągnąć:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2 min STA</div>
                                        <div class="horizontal_card__benefit_text">wstrzymanie oddechu</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">40 m DYN</div>
                                        <div class="horizontal_card__benefit_text">odległość nurkowania</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">12 m CWT</div>
                                        <div class="horizontal_card__benefit_text">głębokość zanurzenia</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Zdać egzamin teoretyczny</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Bezpłatny transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">305 €</div>
                                <div class="vertical_card__price_old">339 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/pl" class="vertical_card__link btn this--prime">rezerwuj z rabatem 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">masz pytanie?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <picture>
                                <source media="(max-width: 1199px)" srcset="img/courses/img_2_mob.jpg">
                                <source media="(min-width: 1199px)" srcset="img/courses/img_2.jpg">
                                <img src="img/courses/img_2.jpg" alt="">
                            </picture>
                            <div class="horizontal_card__img_text">AIDA 3 Advanced Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                                <p>Kurs AIDA 3 opiera się na umiejętnościach i wiedzy zdobytych na poprzednich poziomach. Ma na celu dalszy rozwój umiejętności freedivingu, zwiększenie Twojego bezpieczeństwa, i doskonalenie umiejętności w wodzie poprzez połączenie teorii z 6 sesjami praktycznymi. Maksymalna głębokość tego poziomu wynosi zwykle od 24 do 30 metrów. Ten kurs przeniesie Cię na wyższy poziom, i zostaniesz nagrodzony jednością ze swoim umysłem i ciałem.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Trwa</div>
                                        <div class="horizontal_card__item_text">3 dni</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Wymagania</div>
                                        <div class="horizontal_card__item_text">Licencja AIDA2 lub równoważna</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Min wiek</div>
                                        <div class="horizontal_card__item_text">18 lat (16 lat za zgodą rodzica/opiekuna)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">Pod koniec kursu będziesz w stanie osiągnąć:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 min STA</div>
                                        <div class="horizontal_card__benefit_text">wstrzymanie oddechu</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 m DYN</div>
                                        <div class="horizontal_card__benefit_text">odległość nurkowania</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 m CWT</div>
                                        <div class="horizontal_card__benefit_text">głębokość zanurzenia</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Zdać egzamin teoretyczny</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Bezpłatny transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">400 €</div>
                                <div class="vertical_card__price_old">445 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/pl" class="vertical_card__link btn this--prime">rezerwuj z rabatem 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">masz pytanie?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <img src="img/courses/img_3.jpg" alt="">
                            <div class="horizontal_card__img_text">AIDA Combo 2 + 3</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                                <p>Jeśli czujesz, że freediving stanie się Twoją pasją, możesz zapisać się na dwa kursy pod rząd i intensywnie doskonalić wszystkie umiejętności do poziomu zaawansowanego.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Trwa</div>
                                        <div class="horizontal_card__item_text">6 dni</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Wymagania</div>
                                        <div class="horizontal_card__item_text">Umiejętność pływania na wodach otwartych</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Min wiek</div>
                                        <div class="horizontal_card__item_text">18 lat (16 lat za zgodą rodzica/opiekuna)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">Pod koniec kursu będziesz w stanie osiągnąć:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 min STA</div>
                                        <div class="horizontal_card__benefit_text">wstrzymanie oddechu</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 m DYN</div>
                                        <div class="horizontal_card__benefit_text">odległość nurkowania</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 m CWT</div>
                                        <div class="horizontal_card__benefit_text">głębokość zanurzenia</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Zdać egzamin teoretyczny</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Bezpłatny transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">598 €</div>
                                <div class="vertical_card__price_old">665 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/pl" class="vertical_card__link btn this--prime">rezerwuj z rabatem 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">masz pytanie?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>