<section class="courses" id="courses">
    <div class="container">
        <div class="courses__content">
            <h2 class="h2_title courses__title">cursos del buceo libre aida</h2>
            <div class="courses__subtitle h2_subtitle">Aprende y desarrolla las habilidades necesarias para disfrutar de apnea segura y agradable.</div>
            <div class="courses__cards">
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <picture>
                                <source media="(max-width: 1199px)" srcset="img/courses/img_1_mob.jpg">
                                <source media="(min-width: 1199px)" srcset="img/courses/img_1.jpg">
                                <img src="img/courses/img_1.jpg" alt="">
                            </picture>
                            <div class="horizontal_card__img_text">AIDA 2 Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__yellow_text">Experiencia no necesaria</div>
                            <div class="horizontal_card__text">
                                <p>Este curso para principiantes se enfoca en las técnicas correctas de contención de la respiración, relajación, normas de seguridad y métodos de descompensación. Durante 5 sesiones en el mar, los participantes aprenden a bucear a una profundidad máxima de 12 metros. El curso finaliza con exámenes teóricos y prácticos para demostrar la comprensión de la teoría y la capacidad del buzo para aplicar las habilidades adquiridas de manera segura y controlada. El curso AIDA 2 Freediver proporciona una base sólida para una mayor progresión en el buceo libre y abre la puerta a AIDA 3.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Duración</div>
                                        <div class="horizontal_card__item_text">3 días</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Requisitos</div>
                                        <div class="horizontal_card__item_text">Habilidad de nadar en el agua abierta</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Edad mínima</div>
                                        <div class="horizontal_card__item_text">18 años (16 años con el consentimiento de los padres o tutores)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">Al final del curso, se supone que debes ser capaz de lograr:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2 min STA</div>
                                        <div class="horizontal_card__benefit_text">contención de respiracion</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">40 m DYN</div>
                                        <div class="horizontal_card__benefit_text">distancia de la inmersión</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">12 m CWT</div>
                                        <div class="horizontal_card__benefit_text">profundidad del buceo</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Aprobar el examen de teoría</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transporte gratuito
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">305 €</div>
                                <div class="vertical_card__price_old">339 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/es" class="vertical_card__link btn this--prime">reservar con 10% descuento</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">haz una pregunta</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <picture>
                                <source media="(max-width: 1199px)" srcset="img/courses/img_2_mob.jpg">
                                <source media="(min-width: 1199px)" srcset="img/courses/img_2.jpg">
                                <img src="img/courses/img_2.jpg" alt="">
                            </picture>
                            <div class="horizontal_card__img_text">AIDA 3 Advanced Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                               <p>El curso AIDA 3 se basa en las habilidades y los conocimientos adquiridos en los niveles anteriores y se centra en desarrollar aún más tus habilidades como apneista. El objetivo del curso es mejorar tu seguridad, comodidad y rendimiento en el agua a través de una combinación de teoría y 6 sesiones prácticas. La profundidad máxima para este nivel suele ser de unos 24 a 30 metros. Este curso te llevará al siguiente nivel con la gran recompensa de conseguir la unión harmónica de tu mente y cuerpo.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Duración</div>
                                        <div class="horizontal_card__item_text">3 días</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Requisitos</div>
                                        <div class="horizontal_card__item_text">AIDA2 o título análogo</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Edad mínima</div>
                                        <div class="horizontal_card__item_text">18 años (16 años con el consentimiento de los padres o tutores)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">Al final del curso, se supone que debes ser capaz de:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 min STA</div>
                                        <div class="horizontal_card__benefit_text">contención de respiracion</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 m DYN</div>
                                        <div class="horizontal_card__benefit_text">distancia de la inmersión</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 m CWT</div>
                                        <div class="horizontal_card__benefit_text">profundidad del buceo</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Aprobar el examen de teoría</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transporte gratuito
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">400 €</div>
                                <div class="vertical_card__price_old">445 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/es" class="vertical_card__link btn this--prime">reservar con 10% descuento</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">haz una pregunta</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <img src="img/courses/img_3.jpg" alt="">
                            <div class="horizontal_card__img_text">AIDA Combo 2 + 3</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                                <p>Si sientes pasión por la apnea, puedes inscribirte en dos cursos seguidos y aprender todas las habilidades hasta el nivel avanzado de forma intensiva.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Duración</div>
                                        <div class="horizontal_card__item_text">6 días</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Requisitos</div>
                                        <div class="horizontal_card__item_text">Habilidad de nadar en el agua abierta</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Edad mínima</div>
                                        <div class="horizontal_card__item_text">18 años (16 años con el consentimiento de los padres o tutores)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">Al final del curso, se supone que debes ser capaz de:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 min STA</div>
                                        <div class="horizontal_card__benefit_text">contención de respiracion</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 m DYN</div>
                                        <div class="horizontal_card__benefit_text">distancia de la inmersión</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 m CWT</div>
                                        <div class="horizontal_card__benefit_text">profundidad del buceo</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Aprobar el examen de teoría</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transporte gratuito
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">598 €</div>
                                <div class="vertical_card__price_old">665 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/es" class="vertical_card__link btn this--prime">reservar con 10% descuento</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">haz una pregunta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>