<section class="courses" id="courses">
    <div class="container">
        <div class="courses__content">
            <h2 class="h2_title courses__title">курсы фридайвинга</h2>
            <div class="courses__subtitle h2_subtitle">Осваивайте и развивайте навыки, необходимые для безопасного и приятного фридайвинга</div>
            <div class="courses__cards">
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <picture>
                                <source media="(max-width: 1199px)" srcset="img/courses/img_1_mob.jpg">
                                <source media="(min-width: 1199px)" srcset="img/courses/img_1.jpg">
                                <img src="img/courses/img_1.jpg" alt="">
                            </picture>
                            <div class="horizontal_card__img_text">AIDA 2 Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__yellow_text">Опыт не требуется</div>
                            <div class="horizontal_card__text">
                                <p>Этот курс для начинающих фокусируется на правильной задержке дыхания, техниках релаксации, правилах безопасности и способах продувания. За 5 водных сессий участники учатся погружаться на максимальную глубину 12 метров. Курс завершается теоретическими и практическими экзаменами, подтверждающими понимание теории и способность дайвера применять полученные навыки безопасным и контролируемым образом.</p>
                                <br>
                                <p>Курс AIDA 2 Freediver обеспечивает прочную основу для дальнейшего обучения во фридайвинге и позволяет записаться на курс AIDA 3.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Продолж.</div>
                                        <div class="horizontal_card__item_text">3 дня</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Требования</div>
                                        <div class="horizontal_card__item_text">Умение плавать в открытой воде</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Мин возраст</div>
                                        <div class="horizontal_card__item_text">18 лет (16 лет с согласия родителей/опекуна)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">В конце курса вы сможете достичь:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2 мин STA</div>
                                        <div class="horizontal_card__benefit_text">задержка дыхания</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">40 м DYN</div>
                                        <div class="horizontal_card__benefit_text">дистанция погружения</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">12 м CWT</div>
                                        <div class="horizontal_card__benefit_text">глубина погружения</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Сдать экзамен по теории</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Бесплатный транспорт от отеля
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">305 €</div>
                                <div class="vertical_card__price_old">339 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/ru" class="vertical_card__link btn this--prime">Бронируй со скидкой 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Задай вопрос</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <picture>
                                <source media="(max-width: 1199px)" srcset="img/courses/img_2_mob.jpg">
                                <source media="(min-width: 1199px)" srcset="img/courses/img_2.jpg">
                                <img src="img/courses/img_2.jpg" alt="">
                            </picture>
                            <div class="horizontal_card__img_text">AIDA 3 Advanced Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                                <p>Курс AIDA 3 основан на навыках и знаниях, полученных на предыдущих уровнях, и направлен на дальнейшее развитие ваших способностей фридайвера. Он направлен на повышение вашей безопасности и улучшение навыков в воде за счет сочетания теории и 6 практических занятий. Максимальная глубина для этого уровня обычно составляет от 24 до 30 метров. Этот курс выведет вас на новый уровень, и в награду вы получите то, что будете едины со своим разумом и телом.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Продолж.</div>
                                        <div class="horizontal_card__item_text">3 дня</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Требования</div>
                                        <div class="horizontal_card__item_text">AIDA2 или аналогичная лицензия</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Мин возраст</div>
                                        <div class="horizontal_card__item_text">18 лет (16 лет с согласия родителей/опекуна)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">В конце курса вы сможете достичь:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 мин STA</div>
                                        <div class="horizontal_card__benefit_text">задержка дыхания</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 м DYN</div>
                                        <div class="horizontal_card__benefit_text">дистанция погружения</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 м CWT</div>
                                        <div class="horizontal_card__benefit_text">глубина погружения</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Сдать экзамен по теории</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Бесплатный транспорт от отеля
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">400 €</div>
                                <div class="vertical_card__price_old">445 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/ru" class="vertical_card__link btn this--prime">Бронируй со скидкой 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Задай вопрос</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <img src="img/courses/img_3.jpg" alt="">
                            <div class="horizontal_card__img_text">AIDA Combo 2 + 3</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                                <p>Если вы чувствуете, что фридайвинг станет вашим увлечением, вы можете записаться на два курса подряд и интенсивно освоить все навыки вплоть до продвинутого уровня.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Продолж.</div>
                                        <div class="horizontal_card__item_text">6 дней</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Требования</div>
                                        <div class="horizontal_card__item_text">Умение плавать в открытой воде</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Мин возраст</div>
                                        <div class="horizontal_card__item_text">18 лет (16 лет с согласия родителей/опекуна)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">В конце курса вы сможете достичь:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 мин STA</div>
                                        <div class="horizontal_card__benefit_text">задержка дыхания</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 м DYN</div>
                                        <div class="horizontal_card__benefit_text">дистанция погружения</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 м CWT</div>
                                        <div class="horizontal_card__benefit_text">глубина погружения</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Сдать экзамен по теории</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Бесплатный транспорт от отеля
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">598 €</div>
                                <div class="vertical_card__price_old">665 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/ru" class="vertical_card__link btn this--prime">Бронируй со скидкой 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Задай вопрос</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>