<section class="courses" id="courses">
    <div class="container">
        <div class="courses__content">
            <h2 class="h2_title courses__title">cours d'apnée aida</h2>
            <div class="courses__subtitle h2_subtitle">Apprenez et développez les compétences nécessaires pour profiter d'une plongée libre sûre et agréable.</div>
            <div class="courses__cards">
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <picture>
                                <source media="(max-width: 1199px)" srcset="img/courses/img_1_mob.jpg">
                                <source media="(min-width: 1199px)" srcset="img/courses/img_1.jpg">
                                <img src="img/courses/img_1.jpg" alt="">
                            </picture>
                            <div class="horizontal_card__img_text">AIDA 2 Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__yellow_text">Aucune expérience nécessaire</div>
                            <div class="horizontal_card__text">
                                <p>Ce cours pour débutant se concentre sur les bonnes techniques d'apnée, la relaxation, les règles de sécurité et les méthodes de décompensation. Au cours de 5 séances en mer, les participants apprennent à plonger jusqu'à une profondeur maximale de 12 mètres. Le cours se termine par des examens théoriques et pratiques pour démontrer une compréhension de la théorie et la capacité du plongeur à appliquer les compétences acquises de manière sûre et contrôlée. Le cours AIDA 2 Freediver fournit une base solide pour une progression ultérieure en apnée et ouvre la porte à AIDA 3.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Durée</div>
                                        <div class="horizontal_card__item_text">3 jours</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Exigences</div>
                                        <div class="horizontal_card__item_text">Savoir nager en eau libre</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Âge minimum</div>
                                        <div class="horizontal_card__item_text">18 ans (16 ans avec le consentement des parents ou tuteurs)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">À la fin du cours, vous êtes censé être capable d'atteindre:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2 min STA</div>
                                        <div class="horizontal_card__benefit_text">retenir sa respiration</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">40 m DYN</div>
                                        <div class="horizontal_card__benefit_text">distance de plongée</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">12 m CWT</div>
                                        <div class="horizontal_card__benefit_text">profondeur de plongée</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Passez l'examen théorique</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transfert gratuit
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">305 €</div>
                                <div class="vertical_card__price_old">339 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/fr" class="vertical_card__link btn this--prime">Réservez avec 10% réduction</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">pose une question</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <picture>
                                <source media="(max-width: 1199px)" srcset="img/courses/img_2_mob.jpg">
                                <source media="(min-width: 1199px)" srcset="img/courses/img_2.jpg">
                                <img src="img/courses/img_2.jpg" alt="">
                            </picture>
                            <div class="horizontal_card__img_text">AIDA 3 Advanced Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                                <p>Le cours AIDA 3 s'appuie sur les compétences et les connaissances acquises dans les niveaux précédents et se concentre sur le développement de vos compétences en tant qu'apnéiste. L'objectif du cours est d'améliorer votre sécurité, votre confort et vos performances dans l'eau grâce à une combinaison de théorie et de 6 séances pratiques. La profondeur maximale pour ce niveau est généralement d'environ 24 à 30 mètres. Ce cours vous amènera au niveau supérieur avec la grande récompense d'atteindre l'union harmonieuse de votre esprit et de votre corps.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Durée</div>
                                        <div class="horizontal_card__item_text">3 jours</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Exigences</div>
                                        <div class="horizontal_card__item_text">AIDA2 ou titre analogue</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Âge minimum</div>
                                        <div class="horizontal_card__item_text">18 ans (16 ans avec le consentement des parents ou tuteurs)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">À la fin du cours, vous êtes censé être capable d'atteindre:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 min STA</div>
                                        <div class="horizontal_card__benefit_text">retenir sa respiration</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 m DYN</div>
                                        <div class="horizontal_card__benefit_text">distance de plongée</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 m CWT</div>
                                        <div class="horizontal_card__benefit_text">profondeur de plongée</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Passez l'examen théorique</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transfert gratuit
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">400 €</div>
                                <div class="vertical_card__price_old">445 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/fr" class="vertical_card__link btn this--prime">Réservez avec 10% réduction</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">pose une question</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <img src="img/courses/img_3.jpg" alt="">
                            <div class="horizontal_card__img_text">AIDA Combo 2 + 3</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                                <p>Si vous êtes passionné d'apnée, vous pouvez vous inscrire à deux cours d'affilée et apprendre toutes les compétences jusqu'au niveau avancé de manière intensive.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Durée</div>
                                        <div class="horizontal_card__item_text">6 jours</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Exigences</div>
                                        <div class="horizontal_card__item_text">Savoir nager en eau libre</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Âge minimum</div>
                                        <div class="horizontal_card__item_text">18 ans (16 ans avec le consentement des parents ou tuteurs)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">À la fin du cours, vous êtes censé être capable d'atteindre:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 min STA</div>
                                        <div class="horizontal_card__benefit_text">retenir sa respiration</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 m DYN</div>
                                        <div class="horizontal_card__benefit_text">distance de plongée</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 m CWT</div>
                                        <div class="horizontal_card__benefit_text">profondeur de plongée</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Passez l'examen théorique</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transfert gratuit
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">598 €</div>
                                <div class="vertical_card__price_old">665 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/fr" class="vertical_card__link btn this--prime">Réservez avec 10% réduction</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">pose une question</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>