<section class="courses" id="courses">
    <div class="container">
        <div class="courses__content">
            <h2 class="h2_title courses__title">freediving courses</h2>
            <div class="courses__subtitle h2_subtitle">Learn and develop the skills necessary for safe and enjoyable freediving experiences</div>
            <div class="courses__cards">
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <img src="img/courses/img_1.jpg" alt="">
                            <div class="horizontal_card__img_text">AIDA 2 Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__yellow_text">No experience required</div>
                            <div class="horizontal_card__text">
                                <p>This course for beginners focuses on the correct breath-holding, relaxation techniques, safety guidelines, and equalization methods. During 5 water sessions participants learn to dive to a maximum depth of 12 meters. The course finishes with theoretical and practical exams to prove understanding of the theory and diver’s ability to apply the acquired skills in a safe and controlled manner.</p>
                                <br>
                                <p>The AIDA 2 Freediver course provides a solid foundation for further progression in freediving and opens the door to AIDA 3.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Duration</div>
                                        <div class="horizontal_card__item_text">3 days</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Requirements</div>
                                        <div class="horizontal_card__item_text">Swimming ability in open water</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Min age</div>
                                        <div class="horizontal_card__item_text">18 y.o. (16 years with parental/ guardian consent)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">In the end of the course, you’re supposed to be able to achieve:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2 min STA</div>
                                        <div class="horizontal_card__benefit_text">holding breath</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">40 m DYN</div>
                                        <div class="horizontal_card__benefit_text">diving distance</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">12 m CWT</div>
                                        <div class="horizontal_card__benefit_text">diving depth</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Pass the theoretical exam</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Free transfer
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">305 €</div>
                                <div class="vertical_card__price_old">339 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/en" class="vertical_card__link btn this--prime">Book with 10% discount</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Ask a question</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <img src="img/courses/img_2.jpg" alt="">
                            <div class="horizontal_card__img_text">AIDA 3 Advanced Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                                <p>The AIDA 3 course builds upon the skills and knowledge acquired in previous levels and focuses on further developing your abilities as a freediver. It aims to enhance your safety, comfort, and performance in the water through a combination of theory and 6 practical sessions. The maximum depth for this level is typically around 24 to 30 meters.</p>
                                <br>
                                <p>This course will take you to the next level with a great reward of being one with your mind and body.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Duration</div>
                                        <div class="horizontal_card__item_text">3 days</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Requirements</div>
                                        <div class="horizontal_card__item_text">AIDA2 or equal license</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Min age</div>
                                        <div class="horizontal_card__item_text">18 y.o. (16 years with parental/ guardian consent)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">In the end of the course, you’re supposed to be able to:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 min STA</div>
                                        <div class="horizontal_card__benefit_text">holding breath</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 m DYN</div>
                                        <div class="horizontal_card__benefit_text">diving distance</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 m CWT</div>
                                        <div class="horizontal_card__benefit_text">diving depth</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Pass the theoretical exam</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Free transfer
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">400 €</div>
                                <div class="vertical_card__price_old">445 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/en" class="vertical_card__link btn this--prime">Book with 10% discount</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Ask a question</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <img src="img/courses/img_3.jpg" alt="">
                            <div class="horizontal_card__img_text">AIDA Combo 2 + 3</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                                <p>If you feel passion for freediving, you can enroll on two courses in a row and learn all skills up to advanced level in an intensive way.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Duration</div>
                                        <div class="horizontal_card__item_text">6 days</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Requirements</div>
                                        <div class="horizontal_card__item_text">Swimming ability in open water</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Min age</div>
                                        <div class="horizontal_card__item_text">18 y.o. (16 years with parental/ guardian consent)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">In the end of the course, you’re supposed to be able to:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 min STA</div>
                                        <div class="horizontal_card__benefit_text">holding breath</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 m DYN</div>
                                        <div class="horizontal_card__benefit_text">diving distance</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 m CWT</div>
                                        <div class="horizontal_card__benefit_text">divingdepth</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Pass the theoretical exam</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Free transfer
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">598 €</div>
                                <div class="vertical_card__price_old">665 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/en" class="vertical_card__link btn this--prime">Book with 10% discount</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Ask a question</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>