<section class="courses" id="courses">
    <div class="container">
        <div class="courses__content">
            <h2 class="h2_title courses__title">Freitauchkurse</h2>
            <div class="courses__subtitle h2_subtitle">Erlernen und entwickeln Sie die Fähigkeiten, die für sichere und angenehme Freitaucherlebnisse erforderlich sind</div>
            <div class="courses__cards">
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <picture>
                                <source media="(max-width: 1199px)" srcset="img/courses/img_1_mob.jpg">
                                <source media="(min-width: 1199px)" srcset="img/courses/img_1.jpg">
                                <img src="img/courses/img_1.jpg" alt="">
                            </picture>
                            <div class="horizontal_card__img_text">AIDA 2 Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__yellow_text">Keine Erfahrung benötigt</div>
                            <div class="horizontal_card__text">
                                <p>Dieser Kurs für Anfänger konzentriert sich auf das richtige Anhalten des Atems, Entspannungstechniken, Sicherheitsrichtlinien und Ausgleichsmethoden. Während 5 Wassersitzungen lernen die Teilnehmer, bis zu einer maximalen Tiefe von 12 Metern zu tauchen. Der Kurs endet mit theoretischen und praktischen Prüfungen, um das Verständnis der Theorie und die Fähigkeit des Tauchers nachzuweisen, die erworbenen Fähigkeiten sicher und kontrolliert anzuwenden.</p>
                                <br>
                                <p>Der AIDA 2 Freediver-Kurs bietet eine solide Grundlage für weitere Fortschritte im Freitauchen und öffnet die Tür zu AIDA 3.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Dauer</div>
                                        <div class="horizontal_card__item_text">3 Tage</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Anforderungen</div>
                                        <div class="horizontal_card__item_text">Schwimmfähigkeit im offenen Wasser</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Mindestalter</div>
                                        <div class="horizontal_card__item_text">18 Jahre (16 Jahre mit Einverständnis der Eltern)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">Am Ende des Kurses sollten Sie in der Lage sein, Folgendes zu erreichen:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2 min STA</div>
                                        <div class="horizontal_card__benefit_text">den Atem anhalten</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">40 m DYN</div>
                                        <div class="horizontal_card__benefit_text">Tauchdistanz</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">12 m CWT</div>
                                        <div class="horizontal_card__benefit_text">Tauchtiefe</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Theoretische Prüfung Bestehen</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Kostenloser Transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">305 €</div>
                                <div class="vertical_card__price_old">339 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/de" class="vertical_card__link btn this--prime">buche mit 10% rabatt</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Stelle eine Frage</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <picture>
                                <source media="(max-width: 1199px)" srcset="img/courses/img_2_mob.jpg">
                                <source media="(min-width: 1199px)" srcset="img/courses/img_2.jpg">
                                <img src="img/courses/img_2.jpg" alt="">
                            </picture>
                            <div class="horizontal_card__img_text">AIDA 3 Advanced Freediver</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                                <p>Der AIDA 3-Kurs baut auf den in den vorherigen Levels erworbenen Fähigkeiten und Kenntnissen auf und konzentriert sich auf die Weiterentwicklung Ihrer Fähigkeiten als Freitaucher. Ziel ist es, Ihre Sicherheit, Ihren Komfort und Ihre Leistung im Wasser durch eine Kombination aus Theorie und 6 praktischen Sitzungen zu verbessern. Die maximale Tiefe für diese Ebene beträgt typischerweise etwa 24 bis 30 Meter. Dieser Kurs bringt Sie auf die nächste Stufe und wird mit der großen Belohnung, eins mit Ihrem Geist und Körper zu sein, belohnt.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Dauer</div>
                                        <div class="horizontal_card__item_text">3 Tage</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Anforderungen</div>
                                        <div class="horizontal_card__item_text">AIDA2 oder gleichwertige Lizenz</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Mindestalter</div>
                                        <div class="horizontal_card__item_text">18 Jahre (16 Jahre mit Einverständnis der Eltern)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">Am Ende des Kurses sollten Sie in der Lage sein, Folgendes zu erreichen:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 min STA</div>
                                        <div class="horizontal_card__benefit_text">den Atem anhalten</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 m DYN</div>
                                        <div class="horizontal_card__benefit_text">Tauchdistanz</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 m CWT</div>
                                        <div class="horizontal_card__benefit_text">Tauchtiefe</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Theoretische Prüfung Bestehen</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Kostenloser Transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">400 €</div>
                                <div class="vertical_card__price_old">445 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/de" class="vertical_card__link btn this--prime">buche mit 10% rabatt</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Stelle eine Frage</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses__card horizontal_card">
                    <div class="horizontal_card__left">
                        <div class="horizontal_card__img">
                            <img src="img/courses/img_3.jpg" alt="">
                            <div class="horizontal_card__img_text">AIDA Combo 2 + 3</div>
                        </div>
                    </div>
                    <div class="horizontal_card__right">
                        <div class="horizontal_card__right_top">
                            <div class="horizontal_card__text">
                                <p>Wenn Sie eine Leidenschaft für das Freitauchen verspüren, können Sie sich für zwei Kurse hintereinander anmelden und alle Fertigkeiten bis zum fortgeschrittenen Niveau intensiv erlernen.</p>
                            </div>
                        </div>
                        <div class="horizontal_card__right_bottom">
                            <div class="horizontal_card__items_wr">
                                <div class="horizontal_card__items">
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Dauer</div>
                                        <div class="horizontal_card__item_text">6 Tage</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Anforderungen</div>
                                        <div class="horizontal_card__item_text">Schwimmfähigkeit im offenen Wasser</div>
                                    </div>
                                    <div class="horizontal_card__item">
                                        <div class="horizontal_card__item_title">Mindestalter</div>
                                        <div class="horizontal_card__item_text">18 Jahre (16 Jahre mit Einverständnis der Eltern)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal_card__benefits">
                                <div class="horizontal_card__benefits_title">Am Ende des Kurses sollten Sie in der Lage sein, Folgendes zu erreichen:</div>
                                <div class="horizontal_card__benefits_row">
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">2:45 min STA</div>
                                        <div class="horizontal_card__benefit_text">den Atem anhalten</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">55 m DYN</div>
                                        <div class="horizontal_card__benefit_text">Tauchdistanz</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">24 m CWT</div>
                                        <div class="horizontal_card__benefit_text">Tauchtiefe</div>
                                    </div>
                                    <div class="horizontal_card__benefit">
                                        <div class="horizontal_card__benefit_title">Theoretische Prüfung Bestehen</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Kostenloser Transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">598 €</div>
                                <div class="vertical_card__price_old">665 €</div>
                            </div>
                            <div class="vertical_card__links this--horizontal">
                                <a href="https://app.turitop.com/light/box/D156/P60/de" class="vertical_card__link btn this--prime">buche mit 10% rabatt</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Stelle eine Frage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>