<section class="instructors">
    <div class="container">
        <div class="instructors__content">
            <h2 class="h2_title instructors__title">moniteurs de plongée libres</h2>
            <div class="h2_subtitle instructors__subtitle">Nos instructeurs d'apnée sont certifiés AIDA, qui est l'une des principales organisations mondiales pour l'enseignement et la certification d'apnée.</div>
            <div class="instructors__slider swiper-container">
                <div class="instructors__slider_wrapper swiper-wrapper">
                    <div class="instructors__slider_slide instructors__slide swiper-slide">
                        <div class="instructors__card horizontal_card" >
                            <div class="horizontal_card__left">
                                <div class="horizontal_card__img">
                                    <img src="img/instructors/img_1.jpg" alt="">
                                </div>
                            </div>
                            <div class="horizontal_card__right">
                               <div class="instructors_info">
                                   <div class="instructors_info__name">WIKTOR SZYPOWICZ</div>
                                   <div class="instructors_info__title">Instructeur d'apnée AIDA</div>
                                   <div class="instructors_info__text">
                                       Wiktor est un membre formidable de notre équipe, détenant des titres dans différents types de sports nautiques. En plus d'être instructeur de plongée libre, il est également guide de kayak, instructeur de plongée sous-marine et tuba. Ses hobbies sont toujours liés au sport : pratiquer l'acroyoga, participer aux championnats du monde de judo, etc. Fort de ce palmarès sportif, il sera ravi de vous recevoir dans notre école d'apnée à Fuerteventura et de vous enseigner cette incroyable activité. Sa passion pour la mer et l'apnée est contagieuse. Je suis sûr que vous allez devenir accro aussi avec un instructeur comme ça.
                                   </div>
                                   <div class="instructors_info__items">
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">1000 +</div>
                                           <div class="instructors_info__item_text">plongées</div>
                                       </div>
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">50 M</div>
                                           <div class="instructors_info__item_text">profondeur</div>
                                       </div>
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">6:08 min</div>
                                           <div class="instructors_info__item_text">statique</div>
                                       </div>
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">130 m</div>
                                           <div class="instructors_info__item_text">dynamique sans fin</div>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instructors__slider_controls">
                    <div class="instructors__slider_prev">
                        <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.75 10H23.25M23.25 10L14.4949 19M23.25 10L14.4949 1" stroke="#798EA2" stroke-width="2"/>
                        </svg>
                    </div>
                    <div class="instructors__slider_pagination"></div>
                    <div class="instructors__slider_next">
                        <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.75 10H23.25M23.25 10L14.4949 19M23.25 10L14.4949 1" stroke="#798EA2" stroke-width="2"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>