<section class="instructors">
    <div class="container">
        <div class="instructors__content">
            <h2 class="h2_title instructors__title">Freitauchlehrer</h2>
            <div class="h2_subtitle instructors__subtitle">Unsere Apnoetauchlehrer sind von AIDA zertifiziert, einer der weltweit führenden Organisationen für Freitauchausbildung und -zertifizierung</div>
            <div class="instructors__slider swiper-container">
                <div class="instructors__slider_wrapper swiper-wrapper">
                    <div class="instructors__slider_slide instructors__slide swiper-slide">
                        <div class="instructors__card horizontal_card" >
                            <div class="horizontal_card__left">
                                <div class="horizontal_card__img">
                                    <img src="img/instructors/img_1.jpg" alt="">
                                </div>
                            </div>
                            <div class="horizontal_card__right">
                               <div class="instructors_info">
                                   <div class="instructors_info__name">WIKTOR SZYPOWICZ</div>
                                   <div class="instructors_info__title">AIDA Freitauchlehrer</div>
                                   <div class="instructors_info__text">Wiktor ist ein großartiges Mitglied unseres Teams, der Titel in verschiedenen Wassersportarten besitzt. Neben dem Freitauchlehrer ist er auch Kajakführer, Tauchlehrer und Schnorchelführer. Seine Hobbys sind immer mit Sport verbunden: Acroyoga praktizieren, an Judo-Weltmeisterschaften teilnehmen usw. Mit dieser langen Liste sportlicher Erfolge wird er sich freuen, Sie in unserer Freitauchschule auf Fuerteventura begrüßen zu dürfen und Ihnen diese erstaunliche Aktivität beizubringen. Seine Leidenschaft für das Meer und das Freitauchen ist ansteckend. Stellen Sie sicher, dass Sie mit einem solchen Lehrer auch süchtig danach werden.</div>
                                   <div class="instructors_info__items">
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">1000 +</div>
                                           <div class="instructors_info__item_text">tauchgänge</div>
                                       </div>
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">50 M</div>
                                           <div class="instructors_info__item_text">tiefe</div>
                                       </div>
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">6:08 min</div>
                                           <div class="instructors_info__item_text">statisch</div>
                                       </div>
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">130 m</div>
                                           <div class="instructors_info__item_text">dynamisch ohne Flosse</div>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instructors__slider_controls">
                    <div class="instructors__slider_prev">
                        <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.75 10H23.25M23.25 10L14.4949 19M23.25 10L14.4949 1" stroke="#798EA2" stroke-width="2"/>
                        </svg>
                    </div>
                    <div class="instructors__slider_pagination"></div>
                    <div class="instructors__slider_next">
                        <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.75 10H23.25M23.25 10L14.4949 19M23.25 10L14.4949 1" stroke="#798EA2" stroke-width="2"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>