<section class="instructors">
    <div class="container">
        <div class="instructors__content">
            <h2 class="h2_title instructors__title">instructors</h2>
            <div class="h2_subtitle instructors__subtitle">Our freediving instructors are certified in AIDA that is is one of the leading organizations in the world for freediving education and certification</div>
            <div class="instructors__slider swiper-container">
                <div class="instructors__slider_wrapper swiper-wrapper">
                    <div class="instructors__slider_slide instructors__slide swiper-slide">
                        <div class="instructors__card horizontal_card" >
                            <div class="horizontal_card__left">
                                <div class="horizontal_card__img">
                                    <img src="img/instructors/img_1.jpg" alt="">
                                </div>
                            </div>
                            <div class="horizontal_card__right">
                               <div class="instructors_info">
                                   <div class="instructors_info__name">WIKTOR SZYPOWICZ</div>
                                   <div class="instructors_info__title">AIDA Freediving instructor</div>
                                   <div class="instructors_info__text">Wiktor is a great member of our team, who possesses titles in different kinds of water sports. Along with Freediving Instructor, he is also a kayak guide, scuba diving instructor and snorkeling leader. HIs hobbies are always related to sports: practicing acroyoga, participating in judo world championships etc. With this long list of sport achievements he will be glad to welcome you in our freediving school in Fuerteventura and teach you this amazing activity. His passion for the sea and freediving is contagious. Be sure you will get addicted to it too with such an instructor.</div>
                                   <div class="instructors_info__items">
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">1000 +</div>
                                           <div class="instructors_info__item_text">Dives</div>
                                       </div>
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">50 M</div>
                                           <div class="instructors_info__item_text">depth</div>
                                       </div>
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">6:08 min</div>
                                           <div class="instructors_info__item_text">static</div>
                                       </div>
                                       <div class="instructors_info__item">
                                           <div class="instructors_info__item_title">130 m</div>
                                           <div class="instructors_info__item_text">dynamic no fin</div>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instructors__slider_controls">
                    <div class="instructors__slider_prev">
                        <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.75 10H23.25M23.25 10L14.4949 19M23.25 10L14.4949 1" stroke="#798EA2" stroke-width="2"/>
                        </svg>
                    </div>
                    <div class="instructors__slider_pagination"></div>
                    <div class="instructors__slider_next">
                        <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.75 10H23.25M23.25 10L14.4949 19M23.25 10L14.4949 1" stroke="#798EA2" stroke-width="2"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>