<section class="about">
    <div class="container">
        <div class="about__content">
            <h2 class="about__title h2_title">about us</h2>
            <div class="about__row">
                <div class="about__left">
                    <div class="about__text">
                        <p>Fuerteventura is famous for its rich underwater world, clear waters and perfect conditions for freediving training. Our school Diving Atlantis located in a picturesque bay of La Lajita in the South of Fuerteventura is happy to help both beginners and experienced freedivers in mastering this exciting kind of sport. We share with each client our passion for the sea and enjoyable freediving, while safety is always our top priority.</p>
                        <br>
                        <p>Join us and go deep into the underwater world of Fuerteventura with its diverse marine life and volcanic sea bottom! You may encounter colorful fish such as parrotfish, damselfish, angelfish, and moray eels. Larger species like barracudas, groupers, rays and turtles can also be spotted, adding to the excitement of the freedive.</p>
                        <br>
                        <p>Big range of dive spots with different depth allows us to offer freediving sessions for any level.</p>
                        <br>
                        <p class="yellow bold">Free transfer in the South for all activities</p>
                    </div>
                </div>
                <div class="about__right">
                    <div class="about__images">
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>