<section class="about">
    <div class="container">
        <div class="about__content">
            <h2 class="about__title h2_title">sobre nosotros</h2>
            <div class="about__row">
                <div class="about__left">
                    <div class="about__text">
                        <p>Fuerteventura es famosa por sus aguas cristalinas, abundante vida subacuática y condiciones perfectas para realizar el entrenamiento de apnea.</p>
                        <br>
                        <p>Nuestra escuela Diving Atlantis está ubicada al sur de Fuerteventura en una pintoresca bahía de La Lajita. Nos complacemos en ayudar a dominar este emocionante tipo de deporte tanto a principiantes como a buzos avanzados. Compartimos con cada cliente nuestra pasión por el mar y el disfrute de la apnea, siempre teniendo como prioridad la seguridad.</p>
                        <br>
                        <p>¡Únete a nosotros y sumérgete a las profundidades del mundo subacquático de Fuerteventura con su fondo volcánico y su diversa vida marina! Puedes encontrar peces de colores como el pez loro, el pez damisela, pez ángel, morenas y también  especies de mayor tamaño como barracudas, meros, rayas y tortugas, lo que aumenta la emoción de la apnea. Fuerteventura cuenta con una gran variedad de puntos de buceo con diferentes profundidades, lo cual nos permite ofrecer sesiones de apnea para cualquier nivel.</p>
                        <br>
                        <p class="yellow bold">Transporte gratuito en el sur para todas las actividades</p>
                    </div>
                </div>
                <div class="about__right">
                    <div class="about__images">
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>