<section class="about">
    <div class="container">
        <div class="about__content">
            <h2 class="about__title h2_title">о нас</h2>
            <div class="about__row">
                <div class="about__left">
                    <div class="about__text">
                        <p>Фуэртевентура славится богатым подводным миром, чистой водой и идеальными условиями для обучения фридайвингу. Наша школа Diving Atlantis, расположенная в живописной бухте Ла Лахита на юге Фуэртевентуры, рада помочь как новичкам, так и опытным фридайверам в освоении этого увлекательного вида спорта. Мы разделяем с каждым клиентом нашу страсть к морю и приятному фридайвингу, в то время как безопасность всегда является нашим главным приоритетом.</p>
                        <br>
                        <p>Присоединяйтесь к нам и погрузитесь в подводный мир Фуэртевентуры с его разнообразной морской жизнью и вулканическим дном! Вы можете встретить красочных рыб, таких как рыба-попугай, ласточка, рыба-ангел и мурена. Также можно увидеть более крупных видов, таких как барракуды, морские окуни, скаты и черепахи, что добавит азарта во время фридайвинга.</p>
                        <br>
                        <p>Большой выбор мест для погружений с разной глубиной позволяет нам предлагать занятия фридайвингом для любого уровня.</p>
                        <br>
                        <p class="yellow bold">Бесплатный трансфер на юге Фуэртевентуры</p>
                    </div>
                </div>
                <div class="about__right">
                    <div class="about__images">
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>