<section class="about">
    <div class="container">
        <div class="about__content">
            <h2 class="about__title h2_title">À propos de nous</h2>
            <div class="about__row">
                <div class="about__left">
                    <div class="about__text">
                        <p>Fuerteventura est célèbre pour son monde sous-marin riche, ses eaux cristallines et ses conditions parfaites pour l'entraînement à la plongée en apnée. Notre école Diving Atlantis située dans une baie pittoresque de La Lajita au sud de Fuerteventura est heureuse d'aider les plongeurs débutants et expérimentés à maîtriser ce type de sport passionnant. Nous partageons avec chaque plongeur notre passion pour la mer et le plaisir de la plongée en apnée, tandis que la sécurité est toujours notre priorité absolue.</p>
                        <br>
                        <p>Rejoignez-nous et plongez profondément dans le monde sous-marin de Fuerteventura avec sa vie marine diversifiée et son arrière-plan volcanique ! Des poissons colorés tels que des perroquets, des demoiselles, des poissons-anges et des murènes peuvent être trouvés. Des espèces plus grandes comme les barracudas, les mérous, les raies et les tortues peuvent également être repérées, ajoutant au frisson de la plongée en apnée. La grande variété de points de plongée avec différentes profondeurs nous permet d'offrir des sessions d'apnée pour tous les niveaux.</p>
                        <br>
                        <p class="yellow bold">Transport gratuit dans le sud pour toutes les activités</p>
                    </div>
                </div>
                <div class="about__right">
                    <div class="about__images">
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>