<section class="about">
    <div class="container">
        <div class="about__content">
            <h2 class="about__title h2_title">über uns</h2>
            <div class="about__row">
                <div class="about__left">
                    <div class="about__text">
                        <p>Fuerteventura ist berühmt für seine reiche Unterwasserwelt, sein klares Wasser und die perfekten Bedingungen für die Freitauchausbildung. Unsere Schule Diving Atlantis liegt in der malerischen Bucht von La Lajita im Süden von Fuerteventura und hilft sowohl Anfängern als auch erfahrenen Freitauchern gerne dabei, diese aufregende Sportart zu meistern. Wir teilen mit jedem Kunden unsere Leidenschaft für das Meer und den Spaß am Freitauchen, wobei Sicherheit immer oberste Priorität hat.</p>
                        <br>
                        <p>Begleiten Sie uns und tauchen Sie tief in die Unterwasserwelt von Fuerteventura mit seinem vielfältigen Meeresleben und dem vulkanischen Meeresboden ein! Möglicherweise treffen Sie auf bunte Fische wie Papageienfische, Riffbarsche, Kaiserfische und Muränen. Es können auch größere Arten wie Barrakudas, Zackenbarsche, Rochen und Schildkröten gesichtet werden, was den Apnoetauchgang noch spannender macht. Eine große Auswahl an Tauchplätzen mit unterschiedlichen Tiefen ermöglicht es uns, Freitauchkurse für jedes Niveau anzubieten.</p>
                        <br>
                        <p class="yellow bold">Kostenloser Transfer im Süden für alle Aktivitäten</p>
                    </div>
                </div>
                <div class="about__right">
                    <div class="about__images">
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>