<section class="about">
    <div class="container">
        <div class="about__content">
            <h2 class="about__title h2_title">o nas</h2>
            <div class="about__row">
                <div class="about__left">
                    <div class="about__text">
                        <p>Fuerteventura słynie z bogatego podwodnego świata, czystej wody i idealnych warunków do nauki freedivingu. Nasza szkoła Diving Atlantis, położona w malowniczej zatoce La Lajita na południu Fuerteventury, z przyjemnością pomoże zarówno początkującym, jak i doświadczonym freediverom opanować ten ekscytujący sport. Z każdym klientem dzielimy się naszą pasją do morza i przyjemnego freedivingu, a bezpieczeństwo jest zawsze naszym najwyższym priorytetem.</p>
                        <br>
                        <p>Dołącz do nas i zanurz się w podwodny świat Fuerteventury z jej różnorodnym życiem morskim i dnem wulkanicznym! Można natknąć się na kolorowe ryby, takie jak papugoryby, jaskółki, skalary i mureny. Można również zobaczyć większe gatunki, takie jak barakudy, graniki, płaszczki i żółwie, co zwiększa emocje związane z freedivingiem.</p>
                        <br>
                        <p>Szeroka gama miejsc nurkowych o różnych głębokościach pozwala nam oferować zajęcia freedivingowe na wszystkich poziomach.</p>
                        <br>
                        <p class="yellow bold">Bezpłatny transport na południu Fuerteventury </p>
                    </div>
                </div>
                <div class="about__right">
                    <div class="about__images">
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="about__image">
                            <div class="about__image_img">
                                <img src="img/about/img_4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>