<section class="why">
    <div class="container">
        <div class="why__content">
            <h2 class="h2_title why__title">Why freedive in Fuerteventura</h2>
            <div class="h2_subtitle why__subtitle">
                <p>Vast range of dive sites to practice any freediving skills</p>
                <p>Exceptional visibility, often reaching up to 30 meters</p>
                <p>Perfect conditions throughout the year</p>
                <p>Rich marine life and lava landscapes to discover</p>
            </div>
            <div class="why__slider_wr">
                <div class="why__slider swiper-container">
                    <div class="why__slider_wrapper swiper-wrapper">
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_1_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_1.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_5_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_5.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_6_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_6.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_7_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_7.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_8_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_8.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_9_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_9.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_10_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_10.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_11_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_11.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_12_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_12.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_13_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_13.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_14_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_14.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_15_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_15.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_16_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_16.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_17_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_17.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <a href="img/why/img_18_b.jpg" data-fancybox class="why__slide_img">
                                <img src="img/why/img_18.jpg" alt="">
                            </a>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <div class="why__slide_img this--video js_open_video" data-video="1">
                                <img src="img/why/vid_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <div class="why__slide_img this--video js_open_video" data-video="2">
                                <img src="img/why/vid_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="why__slider_slide why__slide swiper-slide">
                            <div class="why__slide_img this--video js_open_video" data-video="3">
                                <img src="img/why/vid_3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="why__slider_controls">
                <div class="why__slider_prev"><svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.75 10H23.25M23.25 10L14.4949 19M23.25 10L14.4949 1" stroke="#798EA2" stroke-width="2"/>
                </svg>
                </div>
                <div class="why__slider_pagination"></div>
                <div class="why__slider_next"><svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.75 10H23.25M23.25 10L14.4949 19M23.25 10L14.4949 1" stroke="#798EA2" stroke-width="2"/>
                </svg>
                </div>
            </div>
            <a href="https://app.turitop.com/light/box/D156/C12/en" class="why__link btn this--prime">i want to dive</a>
        </div>
    </div>
</section>