<section class="how" id="how">
    <div class="container">
        <div class="how__content">
            <h2 class="h2_title how__title">how to book freediving in fuerteventura</h2>
            <div class="h2_subtitle how__subtitle">To book freediving in Fuerteventura is so simple</div>
            <div class="how__body">
                <p>Press the button ¨Book with 10% discount¨ and you will find a simple form where you choose the activity, day and hour of the tour and some other additional options and then you fill in a short formular in the end of which you click the link to pay with a card.</p>
                <p>If you have a problem with finishing the booking online, please let us know by email or phone call.</p>
                <h4>Be noted</h4>
                <p>A booking of freediving in Fuerteventura can be made not less than 6 hours before the start of the activity.</p>
                <p>If you stay in a private apartment, you need to send us its exact address (and pin on the map if possible) and on the day of the freediving tour, please, wait for the transfer outside of the building.</p>
                <p>Writing your contact telephone number, remember to indicate the code of your country.</p>
                <p>After finishing the booking, you will receive an automatic confirmation without pick up time. Shortly we will send you another email with the exact pick up hour. If you don't receive this second email from us on the same day, please, contact us.</p>
                <p>If you would like to book last minute, please, contact us by phone or whatsapp.</p>
                <p>If you stay in the North of Fuerteventura, you can reach our freediving school by car. We are located in La Lajita (<a
                        href="https://goo.gl/maps/Uoy5AVDfrfDNHsVn9">https://goo.gl/maps/Uoy5AVDfrfDNHsVn9</a>, see the map below).</p>
                <h4>Cancelation policy</h4>
                <p>50% refund if the tour is canceled 24 hours or earlier before the start of the tour.</p>
                <p>0% refund if the tour is canceled less than 24 hours before the start of the tour.</p>
            </div>
            <a href="https://app.turitop.com/light/box/D156/C12/en" class="how__link btn this--prime">Book now</a>
        </div>
    </div>
</section>