<section class="how" id="how">
    <div class="container">
        <div class="how__content">
            <h2 class="h2_title how__title">как забронировать фридайвинг на фуэртевентуре</h2>
            <div class="h2_subtitle how__subtitle">Забронировать фридайвинг на Фуэртевентуре так просто</div>
            <div class="how__body">
                <p>Нажмите кнопку «Забронировать со скидкой 10%», и вы увидите простую форму, в которой вы выбираете программу фридайвинга, день и время тура и некоторые другие дополнительные параметры, а затем заполняете краткую форму, в конце которой нажимаете кнопку для оплаты картой. Если у вас возникли проблемы с завершением онлайн-бронирования, сообщите нам об этом по электронной почте или по телефону.</p>
                <h4>Обратите внимание</h4>
                <p>Забронировать фридайвинг на Фуэртевентуре можно не менее чем за 6 часов до начала тура.</p>
                <p>Если вы проживаете в частной квартире, вам необходимо прислать нам точный адрес (и, если возможно, локацию на карте) и в день фридайвинга, пожалуйста, ожидайте трансфера около здания.</p>
                <p>Написав свой контактный телефон, не забудьте указать код своей страны.</p>
                <p>После завершения бронирования вы получите автоматическое подтверждение. Вскоре мы отправим вам еще одно электронное письмо с точным временем трансфера. Если вы не получили это второе письмо от нас в тот же день, пожалуйста, свяжитесь с нами.</p>
                <p>Если вы хотите забронировать фридайвинг в последнюю минуту, пожалуйста, свяжитесь с нами по телефону или WhatsApp.</p>
                <p>Если вы остановились на севере Фуэртевентуры, вы можете добраться до нашей школы фридайвинга на машине. Мы находимся в Ла Лахита (<a
                            href="https://goo.gl/maps/Uoy5AVDfrfDNHsVn9">https://goo.gl/maps/Uoy5AVDfrfDNHsVn9</a>, смотрите карту ниже).</p>
                <h4>Политика отмены</h4>
                <p>Возврат 50% при отмене тура за 24 часа или раньше до начала тура.</p>
                <p>Возврат 0% при отмене тура менее, чем за 24 часа до начала тура.</p>
            </div>
            <a href="https://app.turitop.com/light/box/D156/C12/ru" class="how__link btn this--prime">Забронировать сейчас</a>
        </div>
    </div>
</section>