<section class="how" id="how">
    <div class="container">
        <div class="how__content">
            <h2 class="h2_title how__title">comment réserver apnée à fuerteventura</h2>
            <div class="h2_subtitle how__subtitle">Réserver une plongée libre à Fuerteventura est très simple</div>
            <div class="how__body">
                <p>Appuyez sur le bouton ¨Réserver avec 10% de réduction¨ et vous trouverez un formulaire simple où vous choisissez l'activité, le jour et l'heure de la visite et quelques autres options supplémentaires, puis remplissez un court formulaire à la fin duquel vous cliquez sur le lien pour payer par carte. Si vous rencontrez des problèmes pour finaliser la réservation en ligne, veuillez nous en informer par e-mail ou par téléphone.</p>
                <h4>être noté</h4>
                <p>Vous pouvez effectuer une réservation d'apnée à Fuerteventura au moins 6 heures avant le début de l'activité.</p>
                <p>Si vous séjournez dans un appartement privé, vous devez nous communiquer votre adresse exacte (et l'épingler sur la carte si possible). Le jour de l'excursion d'apnée, veuillez attendre le transfert à l'extérieur du bâtiment.</p>
                <p>Lors de la rédaction de votre numéro de téléphone de contact, pensez à indiquer l'indicatif de votre pays.</p>
                <p>Après avoir finalisé la réservation, vous recevrez une confirmation automatique sans heure de prise en charge. Nous vous enverrons un autre e-mail sous peu avec l'heure exacte de prise en charge. Si vous ne recevez pas ce deuxième e-mail le même jour, veuillez nous contacter.</p>
                <p>Si vous souhaitez réserver à la dernière minute, contactez-nous par téléphone ou whatsapp.</p>
                <p>Si vous séjournez dans le nord de Fuerteventura, vous pouvez vous rendre à notre école d'apnée en voiture. Nous sommes situés à La Lajita (<a
                        href="https://goo.gl/maps/Uoy5AVDfrfDNHsVn9">https://goo.gl/maps/Uoy5AVDfrfDNHsVn9</a>, regarde la carte ci-dessous).</p>
                <h4>Politique d'annulation</h4>
                <p>Remboursement de 50 % si la visite est annulée 24 heures ou avant le début de la visite.</p>
                <p>0% de remboursement si la visite est annulée moins de 24 heures avant le début de la visite.</p>
            </div>
            <a href="https://app.turitop.com/light/box/D156/C12/fr" class="how__link btn this--prime">Reserve maintenant</a>
        </div>
    </div>
</section>