<section class="how" id="how">
    <div class="container">
        <div class="how__content">
            <h2 class="h2_title how__title">wie buchen Sie Freitauchen auf Fuerteventura</h2>
            <div class="h2_subtitle how__subtitle">Apnoetauchen auf Fuerteventura zu buchen ist so einfach</div>
            <div class="how__body">
                <p>Klicken Sie auf die Schaltfläche „Mit 10 % Rabatt buchen“ und Sie finden ein einfaches Formular, in dem Sie die Aktivität, den Tag und die Stunde der Tour sowie einige andere zusätzliche Optionen auswählen. Anschließend füllen Sie ein kurzes Formular aus, an dessen Ende Sie auf klicken Link zum Bezahlen mit Karte.</p>
                <p>Wenn Sie beim Abschluss der Online-Buchung ein Problem haben, teilen Sie uns dies bitte per E-Mail oder Telefon mit.</p>
                <h4>MERKEN SIE</h4>
                <p>Eine Buchung für das Freitauchen auf Fuerteventura kann mindestens 6 Stunden vor Beginn der Aktivität erfolgen.</p>
                <p>Wenn Sie in einer Privatwohnung übernachten, müssen Sie uns die genaue Adresse (und wenn möglich eine Stecknadel auf der Karte) mitteilen und am Tag der Freitauchtour bitte vor dem Gebäude auf den Transfer warten.</p>
                <p>Denken Sie beim Schreiben Ihrer Kontakttelefonnummer daran, die Vorwahl Ihres Landes anzugeben.</p>
                <p>Nach Abschluss der Buchung erhalten Sie eine automatische Bestätigung ohne Abholzeit. In Kürze senden wir Ihnen eine weitere E-Mail mit der genauen Abholzeit. Sollten Sie diese zweite E-Mail nicht am selben Tag von uns erhalten, kontaktieren Sie uns bitte.</p>
                <p>Wenn Sie Last Minute buchen möchten, kontaktieren Sie uns bitte per Telefon oder WhatsApp.</p>
                <p>Wenn Sie im Norden von Fuerteventura wohnen, können Sie unsere Freitauchschule mit dem Auto erreichen. Wir befinden uns in La Lajita (<a
                            href="https://goo.gl/maps/Uoy5AVDfrfDNHsVn9">https://goo.gl/maps/Uoy5AVDfrfDNHsVn9</a>, siehe Karte unten).</p>
                <h4>Stornierungsbedingungen</h4>
                <p>50 % Rückerstattung, wenn die Tour 24 Stunden oder früher vor Tourbeginn storniert wird.</p>
                <p>0 % Rückerstattung, wenn die Tour weniger als 24 Stunden vor Tourbeginn storniert wird.</p>
            </div>
            <a href="https://app.turitop.com/light/box/D156/C12/de" class="how__link btn this--prime">BUCHEN JETZT</a>
        </div>
    </div>
</section>