<section class="how" id="how">
    <div class="container">
        <div class="how__content">
            <h2 class="h2_title how__title">jak zarezerwować freediving na fuerteventurze</h2>
            <div class="h2_subtitle how__subtitle">Rezerwacja freedivingu na Fuerteventurze jest łatwa</div>
            <div class="how__body">
                <p>Kliknij przycisk „Rezerwuj z 10% rabatem”, a zobaczysz prosty formularz, w którym wybierasz program freedivingu, dzień i godzinę wycieczki oraz kilka innych opcji dodatkowych. Następnie wypełniasz krótki formularz, na końcu którego naciskasz przycisk, aby zapłacić kartą. Jeśli masz problemy z dokończeniem rezerwacji online, poinformuj nas o tym e-mailem lub telefonicznie.</p>
                <h4>Uwaga!</h4>
                <p>Możesz zarezerwować freediving na Fuerteventurze online co najmniej 6 godzin przed rozpoczęciem wycieczki.</p>
                <p>Jeśli mieszkasz w prywatnym mieszkaniu, musisz przesłać nam dokładny adres (oraz, jeśli to możliwe, lokalizację na mapie), a w dniu freedivingu poczekaj na transfer w pobliżu budynku.</p>
                <p>Podczas wpisywania numeru telefonu kontaktowego nie zapomnij podać numeru kierunkowego kraju.</p>
                <p>Po zakończeniu rezerwacji otrzymasz automatyczne potwierdzenie. Wkrótce wyślemy Ci kolejną wiadomość e-mail z dokładnym czasem odbioru. Jeśli nie otrzymasz od nas drugiego e-maila tego samego dnia, skontaktuj się z nami.</p>
                <p>Jeśli chcesz zarezerwować freediving w ostatniej chwili, skontaktuj się z nami telefonicznie lub przez WhatsApp.</p>
                <p>Jeśli mieszkasz na północy Fuerteventury, możesz dojechać do naszej szkoły freedivingu samochodem. Znajdujemy się w La Lajita (<a
                            href="https://goo.gl/maps/Uoy5AVDfrfDNHsVn9">https://goo.gl/maps/Uoy5AVDfrfDNHsVn9</a>, patrz mapa poniżej).</p>
                <h4>Zasady anulowania rezerwacji</h4>
                <p>50% zwrotu, jeśli wycieczka zostanie odwołana 24 godziny lub wcześniej przed rozpoczęciem wycieczki.</p>
                <p>0% zwrotu, jeśli wycieczka zostanie odwołana na mniej niż 24 godziny przed rozpoczęciem wycieczki.</p>
            </div>
            <a href="https://app.turitop.com/light/box/D156/C12/pl" class="how__link btn this--prime">rezerwuj teraz</a>
        </div>
    </div>
</section>