<section class="how" id="how">
    <div class="container">
        <div class="how__content">
            <h2 class="h2_title how__title">como reservar apnea en fuerteventura</h2>
            <div class="h2_subtitle how__subtitle">Reservar buceo libre en Fuerteventura es muy sencillo</div>
            <div class="how__body">
                <p>Presiona el botón ¨Reservar con 10% descuento¨ y encontrarás un sencillo formulario donde eliges la actividad, día y hora del tour y algunas otras opciones adicionales y luego rellenas un breve formulario al final del cual haces clic en el enlace para pagar con tarjeta. Si tienes algún problema para finalizar la reserva en línea, infórmanos por correo electrónico o por teléfono.</p>
                <h4>toma nota</h4>
                <p>Se puede hacer una reserva online no menos de 6 horas antes del inicio de la actividad.</p>
                <p>Si te alojas en un apartamento privado, debes enviarnos tu dirección exacta (y pin en el mapa si es posible). El día del tour de apnea, por favor, espera el traslado fuera del edificio.</p>
                <p>Escribiendo tu teléfono de contacto, recuerda indicar el código de tu país.</p>
                <p> Tras finalizar la reserva, recibirás una confirmación automática sin hora de recogida. En breve le enviaremos otro correo electrónico con la hora exacta de recogida. Si no recibes este segundo correo electrónico el mismo día, contáctanos.</p>
                <p>Si desea reservar a última hora, póngase en contacto con nosotros por teléfono o whatsapp.</p>
                <p>Si te alojas en el Norte de Fuerteventura, puedes llegar a nuestra escuela de apnea en coche. Estamos ubicados en La Lajita (<a
                        href="https://goo.gl/maps/Uoy5AVDfrfDNHsVn9">https://goo.gl/maps/Uoy5AVDfrfDNHsVn9</a>, mira el mapa abajo).</p>
                <h4>Política de cancelación</h4>
                <p>Reembolso del 50% si el tour se cancela 24 horas o antes del inicio del tour.</p>
                <p>Reembolso 0% si el tour se cancela con menos de 24 horas antes del inicio del tour.</p>
            </div>
            <a href="https://app.turitop.com/light/box/D156/C12/es" class="how__link btn this--prime">reserva ahora</a>
        </div>
    </div>
</section>