<section class="other">
    <div class="container">
        <div class="other__content">
            <h2 class="h2_title other__title">ВСЕ наши туры на Фуэртевентуре</h2>
            <div class="h2_subtitle other__subtitle">Благодаря прекрасным погодным условиям в течение всего года мы можем предложить различные водные виды спорта на Фуэртевентуре.</div>
            <div class="other__items">
                <div class="other__item">
                    <div class="other__item_img">
                        <img src="img/beginners/img_1.jpg" alt="">
                        <div class="other__item_content">
                            <div class="other__item_title">Снорклинг</div>
                            <a href="https://kayaking-fuerteventura.com/?utm_source=freediving" class="other__item_link btn this--prime this--gray" target="_blank">читать далее</a>
                        </div>
                    </div>
                </div>
                <div class="other__item">
                    <div class="other__item_img">
                        <img src="img/other/img_2.jpg" alt="">
                        <div class="other__item_content">
                            <div class="other__item_title">Дайвинг</div>
                            <a href="https://kayaking-fuerteventura.com/?utm_source=freediving" class="other__item_link btn this--prime this--gray" target="_blank">читать далее</a>
                        </div>
                    </div>
                </div>
                <div class="other__item">
                    <div class="other__item_img">
                        <img src="img/other/img_3.jpg" alt="">
                        <div class="other__item_content">
                            <div class="other__item_title">САП</div>
                            <a href="https://kayaking-fuerteventura.com/?utm_source=freediving" class="other__item_link btn this--prime this--gray" target="_blank">читать далее</a>
                        </div>
                    </div>
                </div>
                <div class="other__item">
                    <div class="other__item_img">
                        <img src="img/other/img_4.jpg" alt="">
                        <div class="other__item_content">
                            <div class="other__item_title">каякинг</div>
                            <a href="https://kayaking-fuerteventura.com/?utm_source=freediving" class="other__item_link btn this--prime this--gray" target="_blank">читать далее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>