<section class="beginners" id="training">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">Training for certified freedivers</h2>
            <div class="beginners__subtitle h2_subtitle">Visit most fascinating freediving spots in Fuerteventura accompanied by our professional AIDA instructors</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_1.jpg" alt="">
                        <div class="vertical_card__img_text">1 day</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Free transfer in the South for all activities</div>
                            <div class="vertical_card__text">Practice your skills and techniques and discover the marine world of Fuerteventura on a training session leaded by our experienced instructor. We rent the equipment and guide you through most beautiful and suitable places for freediving in Fuerteventura. Inform us in advance which skill you want to focus on and our instructor will prepare a specific plan to fit your needs.</div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Duration</div>
                                        <div class="vertical_card__item_text">60 min</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tours start</div>
                                        <div class="vertical_card__item_text">Daily 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Min age</div>
                                        <div class="vertical_card__item_text">16 y.o.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">45 €</div>
                                <div class="vertical_card__price_old">50 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/en" class="vertical_card__link btn this--prime">Book with 10% discount</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Ask a question</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">3 days</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Free transfer in the South for all activities</div>
                            <div class="vertical_card__text">Enjoy 3 days package of freediving in the best spots of Fuerteventura. With its clear waters and varied depth this beautiful island has so much to offer to freedivers of all levels. Every day of the package we will choose some different dive site according to your level and preferences. You can rent all kit of equipment with us. Transport and professional guiding is provided to each freediver.</div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Duration</div>
                                        <div class="vertical_card__item_text">60 min x 3</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tours start</div>
                                        <div class="vertical_card__item_text">Daily 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Min age</div>
                                        <div class="vertical_card__item_text">16 y.o.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">108 €</div>
                                <div class="vertical_card__price_old">120 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/en" class="vertical_card__link btn this--prime">Book with 10% discount</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Ask a question</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>