<section class="beginners" id="training">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">Ausbildung für zertifizierte Freitaucher</h2>
            <div class="beginners__subtitle h2_subtitle">Besuchen Sie die faszinierendsten Apnoetauchplätze auf Fuerteventura in Begleitung unserer professionellen AIDA-Lehrer</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_1.jpg" alt="">
                        <div class="vertical_card__img_text">1 tag</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__text">
                                Üben Sie Ihre Fähigkeiten und Techniken und entdecken Sie die Meereswelt von Fuerteventura bei einer Trainingseinheit unter der Leitung unseres erfahrenen Freitauchlehrers. Wir verleihen die Ausrüstung und führen Sie durch die schönsten und geeignetsten Orte zum Apnoetauchen auf Fuerteventura. Informieren Sie uns im Voraus, auf welche Fertigkeit Sie sich konzentrieren möchten, und unser Ausbilder erstellt einen spezifischen Plan, der Ihren Bedürfnissen entspricht.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Dauer</div>
                                        <div class="vertical_card__item_text">60 min</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Die Tour beginnt</div>
                                        <div class="vertical_card__item_text">Täglich 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Mindestalter</div>
                                        <div class="vertical_card__item_text">16 Jahre alt</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Kostenloser Transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">45 €</div>
                                <div class="vertical_card__price_old">50 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/de" class="vertical_card__link btn this--prime">buche mit 10% rabatt</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Stelle eine Frage</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">3 tage</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__text">Genießen Sie ein 3-Tages-Paket zum Freitauchen an den besten Orten von Fuerteventura. Mit ihrem klaren Wasser und den unterschiedlichen Tiefen hat diese wunderschöne Insel Apnoetauchern aller Erfahrungsstufen viel zu bieten. An jedem Tag des Pakets wählen wir je nach Ihrem Niveau und Ihren Vorlieben einen anderen Tauchplatz aus. Bei uns können Sie die gesamte Ausrüstung mieten. Für jeden Freitaucher wird ein Transport und eine professionelle Führung bereitgestellt.</div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Dauer</div>
                                        <div class="vertical_card__item_text">60 min x 3</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Die Tour beginnt</div>
                                        <div class="vertical_card__item_text">Täglich 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Mindestalter</div>
                                        <div class="vertical_card__item_text">16 Jahre alt</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Kostenloser Transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">108 €</div>
                                <div class="vertical_card__price_old">120 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/de" class="vertical_card__link btn this--prime">buche mit 10% rabatt</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Stelle eine Frage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>