<section class="beginners" id="training">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">formation pour les apnéistes licenciés</h2>
            <div class="beginners__subtitle h2_subtitle">Visitez les lieux d'apnée les plus fascinants de Fuerteventura accompagnés de nos instructeurs professionnels AIDA</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_1.jpg" alt="">
                        <div class="vertical_card__img_text">1 jour</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__text">
                                Pratiquez vos compétences et techniques et découvrez le monde marin de Fuerteventura lors d'une session de formation dirigée par notre instructeur expérimenté. Nous louons l'équipement et vous guidons à travers les endroits les plus beaux et les plus appropriés pour l’apnée à Fuerteventura. Faites-nous savoir à l'avance sur quelle compétence vous souhaitez vous concentrer et notre instructeur préparera un plan spécifique pour répondre à vos besoins.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Durée</div>
                                        <div class="vertical_card__item_text">60 min</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tournée commence</div>
                                        <div class="vertical_card__item_text">Tous les jours 9:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Âge minimum</div>
                                        <div class="vertical_card__item_text">16 ans</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transfert gratuit
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">45 €</div>
                                <div class="vertical_card__price_old">50 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/fr" class="vertical_card__link btn this--prime">Réservez avec 10% réduction</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">pose une question</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">3 jours</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__text">
                                Profitez du forfait apnée de 3 jours dans les meilleurs endroits de Fuerteventura. Avec ses eaux claires et sa profondeur variée, cette belle île a beaucoup à offrir aux apnéistes de tous niveaux. Chaque jour de la formation, nous choisirons un site de plongée différent en fonction de votre niveau et de vos préférences. Vous pouvez louer tout le kit d'équipement avec nous. Le transport dans le sud et un guide professionnel sont fournis.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Durée</div>
                                        <div class="vertical_card__item_text">60 min x 3</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tournée commence</div>
                                        <div class="vertical_card__item_text">Tous les jours 9:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Âge minimum</div>
                                        <div class="vertical_card__item_text">16 anss</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transfert gratuit
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">108 €</div>
                                <div class="vertical_card__price_old">120 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/fr" class="vertical_card__link btn this--prime">Réservez avec 10% réduction</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">pose une question</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>