<section class="beginners" id="training">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">entrenamiento para apneistas con licencia</h2>
            <div class="beginners__subtitle h2_subtitle">Visita los lugares de apnea más fascinantes de Fuerteventura acompañado por nuestros instructores profesionales de AIDA</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_1.jpg" alt="">
                        <div class="vertical_card__img_text">1 día</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__text">Practica tus habilidades y técnicas y descubre el mundo marino de Fuerteventura con una sesión de entrenamiento dirigida por nuestro experimentado instructor. Alquilamos el equipo si te hace falta y te guiaremos por los lugares más bonitos y aptos para realizar apnea en Fuerteventura. Infórmanos con anticipación en qué habilidad deseas enfocarte y nuestro instructor preparará un plan personalizado para satisfacer tus necesidades.</div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Duración</div>
                                        <div class="vertical_card__item_text">60 min</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tour empieza</div>
                                        <div class="vertical_card__item_text">A diario 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Edad mínima</div>
                                        <div class="vertical_card__item_text">16 años</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transporte gratuito
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">45 €</div>
                                <div class="vertical_card__price_old">50 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/es" class="vertical_card__link btn this--prime">reservar con 10% descuento</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">has una pregunta</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">3 días</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__text">Disfruta del paquete de 3 días de apnea en los mejores lugares de Fuerteventura. Con sus aguas claras y variada profundidad, esta hermosa isla tiene mucho que ofrecer a los apneístas de todos los niveles. Cada día del paquete elegiremos algún sitio de buceo diferente según tu nivel y preferencias. Puedes alquilar todo el kit de equipo con nosotros. Se proporciona transporte en el sur y guía profesional.</div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Duración</div>
                                        <div class="vertical_card__item_text">60 min x 3</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tour empieza</div>
                                        <div class="vertical_card__item_text">A diario 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Edad mínima</div>
                                        <div class="vertical_card__item_text">16 años</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transporte gratuito
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">108 €</div>
                                <div class="vertical_card__price_old">120 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/es" class="vertical_card__link btn this--prime">reservar con 10% descuento</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">has una pregunta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>