<section class="beginners" id="training">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">Погружения для сертифицированных фридайверов</h2>
            <div class="beginners__subtitle h2_subtitle">Посетите самые захватывающие места для фридайвинга на Фуэртевентуре в сопровождении наших профессиональных инструкторов AIDA.</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_1.jpg" alt="">
                        <div class="vertical_card__img_text">1 день</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__text">
                                Отработайте навыки и технику фридайвинга, а также откройте для себя морской мир Фуэртевентуры на тренировочном погружении под руководством нашего опытного инструктора. Сообщите нам заранее, на каком навыке вы хотите сосредоточиться, и наш инструктор подготовит индивидуальный план, соответствующий вашим потребностям.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Продолж.</div>
                                        <div class="vertical_card__item_text">60 мин</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Начало</div>
                                        <div class="vertical_card__item_text">Ежедневно 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Мин возраст</div>
                                        <div class="vertical_card__item_text">16 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Бесплатный транспорт от отеля
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">45 €</div>
                                <div class="vertical_card__price_old">50 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/ru" class="vertical_card__link btn this--prime">Бронируй со скидкой 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Задай вопрос</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">3 дня</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__text">
                                3-дневный пакет фридайвинга включает в себя лучшие погружения Фуэртевентуры. Благодаря разнообразию побережий каждый день мы выбираем разные места для погружений в соответствии с вашим уровнем и предпочтениями. Весь комплект снаряжения вы можете арендовать у нас. Каждому фридайверу предоставляется транспорт и профессиональный гид.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Продолж.</div>
                                        <div class="vertical_card__item_text">60 мин x 3</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Начало</div>
                                        <div class="vertical_card__item_text">Ежедневно 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Мин возраст</div>
                                        <div class="vertical_card__item_text">16 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Бесплатный транспорт от отеля
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">108 €</div>
                                <div class="vertical_card__price_old">120 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/ru" class="vertical_card__link btn this--prime">Бронируй со скидкой 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Задай вопрос</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>