<section class="beginners" id="training">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">Nurkowanie dla certyfikowanych freediverów</h2>
            <div class="beginners__subtitle h2_subtitle">Odwiedź najbardziej zapierające dech w piersiach miejsca do freedivingu na Fuerteventurze z naszymi profesjonalnymi instruktorami AIDA.</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_1.jpg" alt="">
                        <div class="vertical_card__img_text">1 dzień</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__text">Ćwicz swoje umiejętności i techniki freedivingu i odkryj morski świat Fuerteventury podczas nurkowania próbnego prowadzonego przez naszego doświadczonego instruktora. Daj nam wcześniej znać, na której umiejętności chciałbyś się skupić, a nasz instruktor przygotuje indywidualny plan dostosowany do Twoich potrzeb.</div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Trwa</div>
                                        <div class="vertical_card__item_text">60 min</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Zaczyna się</div>
                                        <div class="vertical_card__item_text">Codziennie 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Min wiek</div>
                                        <div class="vertical_card__item_text">16 lat</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Bezpłatny transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">45 €</div>
                                <div class="vertical_card__price_old">50 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/pl" class="vertical_card__link btn this--prime">rezerwuj z rabatem 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">masz pytanie?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/training/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">3 dni</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__text">
                                3-dniowy pakiet freedivingu obejmuje najlepsze nurkowania na Fuerteventurze. Ze względu na różnorodność wybrzeży, każdego dnia wybieramy inne miejsca nurkowe w zależności od Twojego poziomu i preferencji. Możesz wypożyczyć u nas cały zestaw sprzętu. Każdy freediver ma zapewniony transport i profesjonalnego przewodnika.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Trwa</div>
                                        <div class="vertical_card__item_text">60 min x 3</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Zaczyna się</div>
                                        <div class="vertical_card__item_text">Codziennie 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Min wiek</div>
                                        <div class="vertical_card__item_text">16 lat</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Bezpłatny transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">108 €</div>
                                <div class="vertical_card__price_old">120 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P61/pl" class="vertical_card__link btn this--prime">rezerwuj z rabatem 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">masz pytanie?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>