.h2_title {
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #023768;

  @media ($tablet) {
    font-size: 36px;
    line-height: 48px;
  }
  @media ($tablet3) {
    font-size: 22px;
    line-height: 26px;
  }
}

.h2_subtitle {
  max-width: 800px;
  margin: 30px auto 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #798EA2;

  @media ($tablet3) {
    margin: 20px auto 0;
    font-size: 15px;
    line-height: 22px;
  }
}