<div class="callback js_callback">
    <div class="callback__body">
        <div class="callback__close js_callback_close"></div>
        <div class="callback__content" data-content="form">
            <h3 class="callback__title">Jakieś inne pytania?</h3>
            <form action="#" class="callback__form">
                <div class="callback__input">
                    <input type="text" name="name" placeholder="Imię">
                </div>
                <div class="callback__input">
                    <input type="tel" name="tel" placeholder="Numer WhatsApp" class="js_input_tel">
                </div>
                <div class="callback__input">
                    <textarea name="question" placeholder="Pytanie"></textarea>
                </div>
                <input type="submit" value="wysłać" class="callback__submit btn this--prime">
            </form>
        </div>
        <div class="callback__content" data-content="thanks">
            <h3 class="callback__title">dziękuję za Twoje pytanie</h3>
            <div class="callback__text">Menedżer skontaktuje się z tobą w ciągu 15 minut</div>
            <button class="callback__ok btn this--prime js_callback_close">OK</button>
        </div>
    </div>
</div>