<div class="callback js_callback">
    <div class="callback__body">
        <div class="callback__close js_callback_close"></div>
        <div class="callback__content" data-content="form">
            <h3 class="callback__title">Есть вопрос?</h3>
            <form action="#" class="callback__form">
                <div class="callback__input">
                    <input type="text" name="name" placeholder="Имя">
                </div>
                <div class="callback__input">
                    <input type="tel" name="tel" placeholder="Hомер WhatsApp" class="js_input_tel">
                </div>
                <div class="callback__input">
                    <textarea name="question" placeholder="Bопрос"></textarea>
                </div>
                <input type="submit" value="Отправить" class="callback__submit btn this--prime">
            </form>
        </div>
        <div class="callback__content" data-content="thanks">
            <h3 class="callback__title">Спасибо за ваше обращение</h3>
            <div class="callback__text">Менеджер свяжется с вами в течении 15 минут</div>
            <button class="callback__ok btn this--prime js_callback_close">OK</button>
        </div>
    </div>
</div>