<section class="beginners" id="beginners">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">Freediving for beginners</h2>
            <div class="beginners__subtitle h2_subtitle">Our freediving instructors certified in AIDA guarantee a high level of professionalism and safety</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/other/img_1.jpg" alt="">
                        <div class="vertical_card__img_text">try freediving</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">No experience required</div>
                            <div class="vertical_card__text">This is your chance to experience the tranquility and beauty of the ocean in a truly unique way. We give you detailed instructions and provide warm suits, masks, fins and snorkels. After that we enter the water from the beach and dive into the fascinating world of the Atlantic. We'll teach you the correct diving technique and how to hold your breath so you can stay underwater longer. Trial freediving is conducted by our experienced instructors. No license is obtained after completing a trial freedive.</div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Duration</div>
                                        <div class="vertical_card__item_text">90 min</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tours start</div>
                                        <div class="vertical_card__item_text">Daily 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Min age</div>
                                        <div class="vertical_card__item_text">8 y.o.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Free transfer
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">72 €</div>
                                <div class="vertical_card__price_old">80 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/en" class="vertical_card__link btn this--prime">Book with 10% discount</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Ask a question</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/beginners/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">AIDA 1 discover Freediving</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">No experience required</div>
                            <div class="vertical_card__text">It is the first level of freediving in the AIDA training system. Complete this freediving program for beginners and get licensed to dive to a max depth of 8 m. Get basic skills and knowledge of diving on a single breath, learn the most important safety procedures and enjoy  wonderful marine landscapes of La Lajita bay at the same time. The training is conducted according to the standards of AIDA organization. Our professional instructor will guide you through a day full of adventures and make sure that you are ready to freedive with a buddy.</div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Duration</div>
                                        <div class="vertical_card__item_text">1 day</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tours start</div>
                                        <div class="vertical_card__item_text">Daily 09:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Min age</div>
                                        <div class="vertical_card__item_text">16 y.o.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Free transfer
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">152 €</div>
                                <div class="vertical_card__price_old">169 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/en" class="vertical_card__link btn this--prime">Book with 10% discount</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Ask a question</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>