<section class="beginners" id="beginners">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">Фридайвинг для начинающих</h2>
            <div class="beginners__subtitle h2_subtitle">Наши инструкторы по фридайвингу, сертифицированные AIDA, гарантируют высокий уровень профессионализма и безопасности.</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/other/img_1.jpg" alt="">
                        <div class="vertical_card__img_text">Пробное погружение</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Опыт не требуется</div>
                            <div class="vertical_card__text">
                                Это ваш шанс прочувствовать спокойствие и красоту океана поистине уникальным способом. Мы даем вам подробный инструктаж и оборудование: теплые гидрокостюмы, маски, ласты и трубки. После этого мы заходим в воду с пляжа и погружаемся в увлекательный мир Атлантики. Мы научим вас правильной технике погружения и тому, как задерживать дыхание, чтобы дольше оставаться под водой. Фридайвинг для начинающих проводят наши опытные инструкторы. Это погружение предназначено для того, чтобы вы могли попробовать фридайвинг, при этом сертификат вы не получаете.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Продолж.</div>
                                        <div class="vertical_card__item_text">90 мин</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Начало</div>
                                        <div class="vertical_card__item_text">Ежедневно 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Мин возраст</div>
                                        <div class="vertical_card__item_text">8 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Бесплатный транспорт от отеля
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">72 €</div>
                                <div class="vertical_card__price_old">80 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/ru" class="vertical_card__link btn this--prime">Бронируй со скидкой 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Задай вопрос</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/beginners/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">AIDA 1 discover Freediving</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Опыт не требуется</div>
                            <div class="vertical_card__text">
                                Это первый уровень фридайвинга в системе обучения AIDA. Завершите эту программу фридайвинга для начинающих и получите лицензию на погружение на максимальную глубину 8 м. В течение одного дня вы получите базовые навыки и знания по фридайвингу, изучите самые важные процедуры безопасности и одновременно насладитесь прекрасными морскими пейзажами залива Ла-Лахита. Обучение проводится по стандартам организации AIDA. Наш профессиональный инструктор проведет занятия с вами целый день и позаботится о том, чтобы вы были готовы к самостоятельному фридайвингу с напарником.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Продолж.</div>
                                        <div class="vertical_card__item_text">1 день</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Начало</div>
                                        <div class="vertical_card__item_text">Ежедневно 09:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Мин возраст</div>
                                        <div class="vertical_card__item_text">16 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Бесплатный транспорт от отеля
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">152 €</div>
                                <div class="vertical_card__price_old">169 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/ru" class="vertical_card__link btn this--prime">Бронируй со скидкой 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Задай вопрос</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>