<section class="beginners" id="beginners">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">apnea para principiantes</h2>
            <div class="beginners__subtitle h2_subtitle">Nuestros monitores de apnea titulados en AIDA os garantizan un alto nivel de profesionalidad y seguridad</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/other/img_1.jpg" alt="">
                        <div class="vertical_card__img_text">Bautizo de apnea</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Experiencia no necesaria</div>
                            <div class="vertical_card__text">Esta es tu oportunidad de experimentar la tranquilidad y la belleza del océano de una manera realmente única. Damos instrucciones detalladas y proporcionamos trajes, máscaras, aletas y tubos. Entramos al agua desde la playa La Lajita y nos sumergimos en el fascinante mundo del Atlántico. Te enseñaremos la técnica correcta de apnea y cómo contener la respiración para que puedas permanecer más tiempo bajo el agua.  Los bautizos de freediving son realizados por nuestros instructores experimentados. Es una sesión para disfrutar de la primera experiencia de apnea, no se obtiene ninguna licencia.</div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Duración</div>
                                        <div class="vertical_card__item_text">90 min</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tour empieza</div>
                                        <div class="vertical_card__item_text">A diario 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Edad mínima</div>
                                        <div class="vertical_card__item_text">8 años</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transporte gratuito
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">72 €</div>
                                <div class="vertical_card__price_old">80 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/es" class="vertical_card__link btn this--prime">reserva con 10% descuento</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">haz una pregunta</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/beginners/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">AIDA 1 discover Freediving</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Experiencia no necesaria</div>
                            <div class="vertical_card__text">
                                Es el primer nivel de apnea en el sistema de entrenamiento AIDA. Completa este programa de apnea para principiantes y obtén la licencia para bucear a una profundidad máxima de 8 m. Obtenga habilidades y conocimientos básicos de buceo en una sola respiración, aprenda los procedimientos de seguridad más importantes y disfrute al mismo tiempo de los maravillosos paisajes marinos.  El entrenamiento se lleva a cabo de acuerdo con los estándares de la organización AIDA. Nuestro monitor profesional te guiará a través de un día lleno de aventuras y se asegurará de que estés listo para bucear en apnea con un compañero.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Duración</div>
                                        <div class="vertical_card__item_text">1 día</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tour empieza</div>
                                        <div class="vertical_card__item_text">A diario 09:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Edad mínima</div>
                                        <div class="vertical_card__item_text">16 años</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transporte gratuito
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">152 €</div>
                                <div class="vertical_card__price_old">169 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/es" class="vertical_card__link btn this--prime">reserva con 10% descuento</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">haz una pregunta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>