<section class="beginners" id="beginners">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">Freitauchen für Anfänger</h2>
            <div class="beginners__subtitle h2_subtitle">Unsere AIDA-zertifizierten Apnoetauchlehrer garantieren ein hohes Maß an Professionalität und Sicherheit</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/other/img_1.jpg" alt="">
                        <div class="vertical_card__img_text this--long">Schnupperfreitauchen</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Keine Erfahrung benötigt</div>
                            <div class="vertical_card__text">Dies ist Ihre Chance, die Ruhe und Schönheit des Ozeans auf wirklich einzigartige Weise zu erleben. Wir geben Ihnen eine ausführliche Einweisung und stellen Ihnen warme Anzüge, Masken, Flossen und Schnorchel zur Verfügung. Anschließend steigen wir vom Strand aus ins Wasser und tauchen ein in die faszinierende Welt des Atlantiks. Wir bringen Ihnen die richtige Tauchtechnik und das Anhalten des Atems bei, damit Sie länger unter Wasser bleiben können. Das Schnuppertauchen wird von unseren erfahrenen Tauchlehrern durchgeführt. Nach Abschluss eines Schnuppertauchgangs wird keine Lizenz erworben.</div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Dauer</div>
                                        <div class="vertical_card__item_text">90 min</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Die Tour beginnt</div>
                                        <div class="vertical_card__item_text">Täglich 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Mindestalter</div>
                                        <div class="vertical_card__item_text">8 Jahre alt</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Kostenloser Transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">72 €</div>
                                <div class="vertical_card__price_old">80 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/de" class="vertical_card__link btn this--prime">buche mit 10% rabatt</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Stelle eine Frage</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/beginners/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">AIDA 1 discover Freediving</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Keine Erfahrung benötigt</div>
                            <div class="vertical_card__text">
                                Es handelt sich um die erste Stufe des Freitauchens im AIDA-Ausbildungssystem. Absolvieren Sie dieses Freitauchprogramm für Anfänger und erhalten Sie die Lizenz zum Tauchen bis zu einer maximalen Tiefe von 8 m. Erwerben Sie in einem Atemzug grundlegende Fertigkeiten und Kenntnisse des Tauchens, erlernen Sie die wichtigsten Sicherheitsmaßnahmen und genießen Sie gleichzeitig die wundervolle Meereslandschaft der Bucht von La Lajita. Unser professioneller Tauchlehrer begleitet Sie durch einen Tag voller Abenteuer und stellt sicher, dass Sie bereit sind, mit einem Tauchpartner Freitauchen zu gehen.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Dauer</div>
                                        <div class="vertical_card__item_text">1 tag</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Die Tour beginnt</div>
                                        <div class="vertical_card__item_text">Täglich 09:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Mindestalter</div>
                                        <div class="vertical_card__item_text">16 Jahre alt</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Kostenloser Transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">152 €</div>
                                <div class="vertical_card__price_old">169 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/de" class="vertical_card__link btn this--prime">buche mit 10% rabatt</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">Stelle eine Frage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>