<section class="beginners" id="beginners">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">Freediving dla początkujących</h2>
            <div class="beginners__subtitle h2_subtitle">Nasi instruktorzy freedivingu z certyfikatem AIDA gwarantują wysoki poziom profesjonalizmu i bezpieczeństwa.</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/other/img_1.jpg" alt="">
                        <div class="vertical_card__img_text">Nurkowanie próbne</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Doświadczenie nie jest wymagane</div>
                            <div class="vertical_card__text">
                                To twoja szansa, aby doświadczyć spokoju i piękna oceanu w naprawdę wyjątkowy sposób. Przekazujemy szczegółowe instrukcje i wyposażenie: ciepłe pianki, maski, płetwy i fajki. Następnie z plaży wchodzimy do wody i zanurzamy się w fascynujący świat Atlantyku. Nauczymy cię jak wstrzymywać oddech abyś mógł dłużej przebywać pod wodą. Trial freedivingu prowadzony jest przez naszych doświadczonych instruktorów. To nurkowanie jest po to, abyś spróbował freedivingu bez uzyskania certyfikatu.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Trwa</div>
                                        <div class="vertical_card__item_text">90 min</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Zaczyna się</div>
                                        <div class="vertical_card__item_text">Codziennie 09:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Min wiek</div>
                                        <div class="vertical_card__item_text">8 lat</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Bezpłatny transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">72 €</div>
                                <div class="vertical_card__price_old">80 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/pl" class="vertical_card__link btn this--prime">rezerwuj z rabatem 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">masz pytanie?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/beginners/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">AIDA 1 discover Freediving</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Doświadczenie nie jest wymagane</div>
                            <div class="vertical_card__text">
                                Jest to pierwszy stopień freedivingu w systemie szkoleniowym AIDA. Ukończ ten program freedivingu dla początkujących i zdobądź licencję na nurkowanie do maksymalnej głębokości 8 m. W ciągu jednego dnia zdobędziesz podstawowe umiejętności i wiedzę na temat freedivingu, nauczysz się najważniejszych procedur bezpieczeństwa i jednocześnie będziesz cieszyć się pięknymi pejzażami morskimi zatoki La Lajita. Szkolenia prowadzone są zgodnie ze standardami organizacji AIDA.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Trwa</div>
                                        <div class="vertical_card__item_text">1 dzień</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Zaczyna się</div>
                                        <div class="vertical_card__item_text">Codziennie 09:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Min wiek</div>
                                        <div class="vertical_card__item_text">16 lat</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Bezpłatny transport
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">152 €</div>
                                <div class="vertical_card__price_old">169 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/pl" class="vertical_card__link btn this--prime">rezerwuj z rabatem 10%</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">masz pytanie?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>