<section class="beginners" id="beginners">
    <div class="container">
        <div class="beginners__content">
            <h2 class="beginners__title h2_title">apnée pour débutants</h2>
            <div class="beginners__subtitle h2_subtitle">Nos moniteurs d'apnée certifiés AIDA garantissent un haut niveau de professionnalisme et de sécurité</div>
            <div class="beginners__cards">
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/other/img_1.jpg" alt="">
                        <div class="vertical_card__img_text">baptême d'apnée</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Aucune expérience nécessaire</div>
                            <div class="vertical_card__text">C'est votre chance de découvrir la tranquillité et la beauté de l'océan d'une manière vraiment unique. Nous donnons des instructions détaillées et fournissons des combinaisons, des masques, des palmes et des tubas. Nous entrons dans l'eau depuis la plage de La Lajita et nous plongeons dans le monde fascinant de l'Atlantique. Nous vous apprendrons la bonne technique de plongée et comment retenir votre souffle afin que vous puissiez rester sous l'eau plus longtemps.  Les baptêmes de plongée libre sont effectués par nos moniteurs expérimentés.  C'est une session pour profiter de la première expérience de plongée en apnée, aucune licence n'est obtenue.</div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Durée</div>
                                        <div class="vertical_card__item_text">90 min</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tournée commence</div>
                                        <div class="vertical_card__item_text">Tous les jours 9:00, 17:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Âge minimum</div>
                                        <div class="vertical_card__item_text">8 ans</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transfert gratuit
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">72 €</div>
                                <div class="vertical_card__price_old">80 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/fr" class="vertical_card__link btn this--prime">Réservez avec 10% réduction</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">pose une question</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="beginners__card vertical_card">
                    <div class="vertical_card__img">
                        <img src="img/beginners/img_2.jpg" alt="">
                        <div class="vertical_card__img_text">AIDA 1 discover Freediving</div>
                    </div>
                    <div class="vertical_card__body">
                        <div class="vertical_card__top">
                            <div class="vertical_card__yellow_text">Aucune expérience nécessaire</div>
                            <div class="vertical_card__text">
                                C'est le premier niveau d'apnée du système de formation AIDA. Complétez ce programme d'apnée pour débutants et obtenez une licence pour plonger à une profondeur maximale de 8 m. Acquérez des compétences et des connaissances de base en plongée en une seule respiration, apprenez les procédures de sécurité les plus importantes et profitez des magnifiques paysages marins en même temps. La formation est dispensée selon les normes de l'organisation AIDA. Notre moniteur professionnel vous guidera à travers une journée pleine d'aventures et s'assurera que vous êtes prêt à plonger en apnée avec un binôme.
                            </div>
                        </div>
                        <div class="vertical_card__bottom">
                            <div class="vertical_card__items_wr">
                                <div class="vertical_card__items">
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Durée</div>
                                        <div class="vertical_card__item_text">1 jour</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Tournée commence</div>
                                        <div class="vertical_card__item_text">Tous les jours 9:00</div>
                                    </div>
                                    <div class="vertical_card__item">
                                        <div class="vertical_card__item_title">Âge minimum</div>
                                        <div class="vertical_card__item_text">16 ans</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical_card__benefit">
                                Transfert gratuit
                            </div>
                            <div class="vertical_card__prices">
                                <div class="vertical_card__price">152 €</div>
                                <div class="vertical_card__price_old">169 €</div>
                            </div>
                            <div class="vertical_card__links">
                                <a href="https://app.turitop.com/light/box/D156/P53/fr" class="vertical_card__link btn this--prime">Réservez avec 10% réduction</a>
                                <a href="#" class="vertical_card__link btn this--prime this--gray js_open_popup">pose une question</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>