<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__top">
                <div class="header__top_left">
                    <div class="header__logo">logotype.</div>
                    <div class="header__address">C.Adargoma, 3 - 35627<br> La Lajita, Fuerteventura</div>
                </div>
                <div class="header__top_right">
                    <div class="header__langs this--desktop">
                        <a href="/" class="header__lang">
                            <img src="img/header/en.png" alt="">
                        </a>
                        <a href="#" class="header__lang active">
                            <img src="img/header/es.png" alt="">
                        </a>
                        <a href="#" class="header__lang">
                            <img src="img/header/fr.png" alt="">
                        </a>
                        <a href="#" class="header__lang">
                            <img src="img/header/ge.png" alt="">
                        </a>
                        <a href="#" class="header__lang">
                            <img src="img/header/pl.png" alt="">
                        </a>
                        <a href="#" class="header__lang">
                            <img src="img/header/ru.png" alt="">
                        </a>
                    </div>
                    <div class="header__langs this--mobile js_langs_select">
                        <div class="header__langs_head js_lang_head">
                            <a href="#" class="header__lang active">
                                <img src="img/header/en.png" alt="">
                            </a>
                            <span class="header__lang_arrow"></span>
                        </div>
                        <div class="header__langs_body js_lang_body">
                            <a href="#" class="header__lang">
                               <img src="img/header/es.png" alt="">
                            </a>
                            <a href="#" class="header__lang">
                               <img src="img/header/fr.png" alt="">
                            </a>
                            <a href="#" class="header__lang">
                               <img src="img/header/ge.png" alt="">
                            </a>
                            <a href="#" class="header__lang">
                               <img src="img/header/pl.png" alt="">
                            </a>
                            <a href="#" class="header__lang">
                               <img src="img/header/ru.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="header__contacts">
                        <a href="https://wa.me/34671408970" class="header__wa">+34 671 40 89 70</a>
                        <div class="header__contacts_text">A diario 24/7</div>
                    </div>
                </div>
            </div>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li><a href="#" class="header__menu_link">Apnea de prueba</a></li>
                    <li><a href="#" class="header__menu_link">Cursos de apnea</a></li>
                    <li><a href="#" class="header__menu_link">Entrenamiento con título</a></li>
                    <li><a href="#" class="header__menu_link">Como reservar</a></li>
                    <li><a href="#" class="header__menu_link">Contactos</a></li>
                </ul>
                <a href="#" class="header__book btn this--prime">Reserva con 10% descuento</a>
            </nav>
        </div>
    </div>
</header>