<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__top">
                <div class="header__top_left">
                    <div class="header__logo">Freediving<br> Atlantis</div>
                    <div class="header__address">C.Adargoma, 3 - 35627<br> La Lajita, Fuerteventura</div>
                </div>
                <div class="header__top_right">
                    <div class="header__langs this--desktop">
                        <a href="#" class="header__lang active">
                            <img src="img/header/en.png" alt="">
                        </a>
                        <a href="/es.html" class="header__lang">
                            <img src="img/header/es.png" alt="">
                        </a>
                        <a href="#" class="header__lang">
                            <img src="img/header/fr.png" alt="">
                        </a>
                        <a href="#" class="header__lang">
                            <img src="img/header/ge.png" alt="">
                        </a>
                        <a href="#" class="header__lang">
                            <img src="img/header/pl.png" alt="">
                        </a>
                        <a href="#" class="header__lang">
                            <img src="img/header/ru.png" alt="">
                        </a>
                    </div>
                    <div class="header__langs this--mobile js_langs_select">
                        <div class="header__langs_head js_lang_head">
                            <a href="#" class="header__lang active">
                                <img src="img/header/en.png" alt="">
                            </a>
                            <span class="header__lang_arrow"></span>
                        </div>
                        <div class="header__langs_body js_lang_body">
                            <a href="#" class="header__lang">
                               <img src="img/header/es.png" alt="">
                            </a>
                            <a href="#" class="header__lang">
                               <img src="img/header/fr.png" alt="">
                            </a>
                            <a href="#" class="header__lang">
                               <img src="img/header/ge.png" alt="">
                            </a>
                            <a href="#" class="header__lang">
                               <img src="img/header/pl.png" alt="">
                            </a>
                            <a href="#" class="header__lang">
                               <img src="img/header/ru.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="header__contacts">
                        <a href="https://wa.me/34667895664" class="header__wa">+34 667 895 664</a>
                        <div class="header__contacts_text">Daily 24/7</div>
                    </div>
                </div>
            </div>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li><a href="#beginners" class="header__menu_link">Try freediving</a></li>
                    <li><a href="#courses" class="header__menu_link">Freediving courses</a></li>
                    <li><a href="#training" class="header__menu_link">Training sessions</a></li>
                    <li><a href="#how" class="header__menu_link">How to book</a></li>
                    <li><a href="#contacts" class="header__menu_link">Contact us</a></li>
                </ul>
                <a href="https://app.turitop.com/light/box/D156/P53/en" class="header__book btn this--prime">Book with 10% discount</a>
            </nav>
        </div>
    </div>
</header>