<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__top">
                <div class="header__top_left">
                    <div class="header__logo">
                        <img src="img/header/logo.png" alt="">
                    </div>
                    <div class="header__address">C.Adargoma, 3 - 35627<br> La Lajita, Fuerteventura</div>
                </div>
                <div class="header__top_right">
                    <div class="header__langs this--desktop">
                        <a href="/" class="header__lang">
                            <img src="img/header/en.png" alt="">
                        </a>
                        <a href="/es/" class="header__lang">
                            <img src="img/header/es.png" alt="">
                        </a>
                        <a href="/fr/" class="header__lang active">
                            <img src="img/header/fr.png" alt="">
                        </a>
                        <a href="/de/" class="header__lang">
                            <img src="img/header/ge.png" alt="">
                        </a>
                        <a href="/pl/" class="header__lang">
                            <img src="img/header/pl.png" alt="">
                        </a>
                        <a href="/ru/" class="header__lang">
                            <img src="img/header/ru.png" alt="">
                        </a>
                    </div>
                    <div class="header__langs this--mobile js_langs_select">
                        <div class="header__langs_head js_lang_head">
                            <a href="/fr/" class="header__lang active">
                                <img src="img/header/fr.png" alt="">
                            </a>
                            <span class="header__lang_arrow"></span>
                        </div>
                        <div class="header__langs_body js_lang_body">
                            <a href="/" class="header__lang">
                                <img src="img/header/en.png" alt="">
                            </a>
                            <a href="/es/" class="header__lang">
                               <img src="img/header/es.png" alt="">
                            </a>
                            <a href="/de/" class="header__lang">
                               <img src="img/header/ge.png" alt="">
                            </a>
                            <a href="/pl/" class="header__lang">
                               <img src="img/header/pl.png" alt="">
                            </a>
                            <a href="/ru/" class="header__lang">
                               <img src="img/header/ru.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="header__contacts">
                        <a href="https://wa.me/34667895664" class="header__wa">+34 667 895 664</a>
                        <div class="header__contacts_text">Tous les jours 24/7</div>
                    </div>
                </div>
            </div>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li><a href="#beginners" class="header__menu_link">Baptême d'apnée</a></li>
                    <li><a href="#courses" class="header__menu_link">Cours d'apnée</a></li>
                    <li><a href="#training" class="header__menu_link">Entraînement avec titre</a></li>
                    <li><a href="#how" class="header__menu_link">Comment réserver</a></li>
                    <li><a href="#contacts" class="header__menu_link">Contactez-nous</a></li>
                </ul>
                <a href="https://app.turitop.com/light/box/D156/C12/fr" class="header__book btn this--prime">Réservez avec 10% de réduction</a>
            </nav>
        </div>
    </div>
</header>