<section class="main_top">
    <div class="container">
        <div class="main_top__content">
            <div class="main_top__logo">
                <div class="main_top__logo_img">
                    <img src="img/main_top/logo.png" alt="">
                </div>
                <div class="main_top__logo_text">certified</div>
            </div>
            <h1 class="main_top__title">Школа фридайвинга</h1>
            <div class="main_top__subtitle">на Фуэртевентуре</div>
            <div class="main_top__items">
                <div class="main_top__item">
                    <div class="main_top__item_img">
                        <img src="img/main_top/item_img_1.svg" alt="">
                    </div>
                    <div class="main_top__item_text">Современное оборудование</div>
                </div>
                <div class="main_top__item">
                    <div class="main_top__item_img">
                        <img src="img/main_top/item_img_2.svg" alt="">
                    </div>
                    <div class="main_top__item_text">Трансфер и
                        страховка</div>
                </div>
                <div class="main_top__item">
                    <div class="main_top__item_img">
                        <img src="img/main_top/item_img_3.svg" alt="">
                    </div>
                    <div class="main_top__item_text">Опытные инструкторы<br>
                        1000+ погружений</div>
                </div>
            </div>
            <div class="main_top__links">
                <a href="https://app.turitop.com/light/box/D156/C12/ru" class="main_top__link btn this--prime">Бронируй со скидкой 10%</a>
                <a href="#" class="main_top__link btn this--second js_open_popup">Задай вопрос</a>
            </div>
            <div class="main_top__langs_wr">
                <div class="main_top__langs">
                    <div class="main_top__lang">
                        <div class="main_top__lang_text">We speak English</div>
                        <div class="main_top__lang_img">
                            <img src="img/header/en.png" alt="">
                        </div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_text">Wir sprechen Deutsch</div>
                        <div class="main_top__lang_img">
                            <img src="img/header/ge.png" alt="">
                        </div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_text">Mówimy po Polsku</div>
                        <div class="main_top__lang_img">
                            <img src="img/header/pl.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>