<section class="main_top">
    <div class="container">
        <div class="main_top__content">
            <div class="main_top__logo">
                <div class="main_top__logo_img">
                    <img src="img/main_top/logo.png" alt="">
                </div>
                <div class="main_top__logo_text">certified</div>
            </div>
            <h1 class="main_top__title">freediving school</h1>
            <div class="main_top__subtitle">in Fuerteventura</div>
            <div class="main_top__items">
                <div class="main_top__item">
                    <div class="main_top__item_img">
                        <img src="img/main_top/item_img_1.svg" alt="">
                    </div>
                    <div class="main_top__item_text">Modern equipment</div>
                </div>
                <div class="main_top__item">
                    <div class="main_top__item_img">
                        <img src="img/main_top/item_img_2.svg" alt="">
                    </div>
                    <div class="main_top__item_text">Transfer and insurance</div>
                </div>
                <div class="main_top__item">
                    <div class="main_top__item_img">
                        <img src="img/main_top/item_img_3.svg" alt="">
                    </div>
                    <div class="main_top__item_text">Experienced instructors<br> 1000+ dives</div>
                </div>
            </div>
            <div class="main_top__links">
                <a href="https://app.turitop.com/light/box/D156/C12/en" class="main_top__link btn this--prime">Book with 10% discount</a>
                <a href="#" class="main_top__link btn this--second js_open_popup">Ask a question</a>
            </div>
            <div class="main_top__langs_wr">
                <div class="main_top__langs">
                    <div class="main_top__lang">
                        <div class="main_top__lang_text">We speak English</div>
                        <div class="main_top__lang_img">
                            <img src="img/header/en.png" alt="">
                        </div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_text">Wir sprechen Deutsch</div>
                        <div class="main_top__lang_img">
                            <img src="img/header/ge.png" alt="">
                        </div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_text">Mówimy po Polsku</div>
                        <div class="main_top__lang_img">
                            <img src="img/header/pl.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>